<div class="add-alert-policy-page">
  <div class="add-alert-policy-container">

    <div class="add-alert-policy-title">
      Create Policy
    </div>

    <form class="add-alert-policy-form form-horizontal"
        name="$ctrl.form"
        ng-submit="$ctrl.submit()"
        method="post"
        novalidate>

      <div class="success-message" ng-show="$ctrl.successful && !$ctrl.form.$dirty">
        <i class="fa fa-check"></i>
        Alert policy was successfully created.
        <a href="#/dashboard/alerts/policies" class="sf-link-inline">Return to the alert policies page</a>,
        or create another alert policy below.
      </div>

      <div class="error-message" ng-show="$ctrl.error">
        Error: {{ $ctrl.error }}
      </div>

      <div class="form-group policy-type">
        <label class="control-label">Policy Type: </label>
        <div class="control-container">
          <select class="form-control"
              name="policyType"
              ng-model="$ctrl.policyType"
              ng-options="type[0] as type[1] for type in $ctrl.policyTypes">
          </select>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">Policy Name: </label>
        <div class="control-container">
          <input type="text"
              class="form-control"
              name="name"
              ng-model="$ctrl.name"
              required>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">Severity: </label>
        <div class="control-container">
          <select class="form-control"
              name="severity"
              ng-model="$ctrl.severity"
              ng-options="sev for sev in $ctrl.severities">
          </select>
        </div>
      </div>

      <div class="form-group" ng-if="$ctrl.policyType !== 'licensing'">
        <label class="control-label" >Select Cluster: </label>
        <div class="control-container">
          <select class="form-control"
              name="clusterID"
              ng-model="$ctrl.clusterID"
              ng-options="cluster.id as cluster.name for cluster in $ctrl.clusters">
            <option value="">Any Cluster</option>
          </select>
        </div>
      </div>

      <div class="form-group" ng-if="$ctrl.policyType === 'licensing'">
        <label class="control-label">
          Select Customer:
        </label>
        <div class="control-container">
          <select class="form-control"
              name="customerID"
              ng-model="$ctrl.customerID"
              ng-options="customer.id as customer.name for customer in $ctrl.customers">
            <option value="">Any Customer</option>
          </select>
        </div>

      </div>

      <div class="form-group" ng-if="$ctrl.policyType === 'clusterFault'">
        <label class="control-label">Select Fault Type: </label>
        <div class="control-container">
          <select class="form-control"
              name="clusterFaultType"
              ng-model="$ctrl.clusterFaultType"
              ng-options="fault for fault in $ctrl.clusterFaultTypes">
            <option value="">Any</option>
          </select>
        </div>
      </div>

      <div class="form-group" ng-if="$ctrl.policyType === 'event'">
        <label class="control-label">Select Event Type: </label>
        <div class="control-container">
          <select class="form-control"
              name="eventType"
              ng-model="$ctrl.eventType"
              ng-options="event for event in $ctrl.eventTypes">
          </select>
        </div>
      </div>

      <div class="form-group" ng-if="$ctrl.policyType === 'utilization'">
        <label class="control-label">Cluster Utilization is Greater Than: </label>
        <div class="control-container">
          <input type="number"
              class="form-control"
              name="clusterUtilizationThreshold"
              ng-model="$ctrl.clusterUtilizationThreshold"
              min="0"
              required>
        </div>
        <span class="post-control-text">
          %.
        </span>
      </div>

      <div class="form-group" ng-if="$ctrl.policyType === 'usedSpace'">
        <label class="control-label">Usable Space Remaining is Less Than: </label>
        <div class="control-container">
          <input type="number"
              class="form-control"
              name="usableSpaceThreshold"
              ng-model="$ctrl.usableSpaceThreshold"
              min="0"
              required>
        </div>
        <span class="post-control-text">
          %.
        </span>
      </div>

      <div class="form-group" ng-if="$ctrl.policyType === 'provisionedSpace'">
        <label class="control-label">Provisionable Space Remaining is Less Than: </label>
        <div class="control-container">
          <input type="number"
              class="form-control"
              name="provisionableSpaceThreshold"
              ng-model="$ctrl.provisionableSpaceThreshold"
              min="0"
              required>
        </div>
        <span class="post-control-text">
          %.
        </span>
      </div>

      <div class="form-group" ng-if="$ctrl.policyType === 'collectorNotReporting'">
        <label class="control-label">Collector Fails to Send Data For: </label>
        <div class="control-container">
          <input type="number"
              class="form-control"
              name="collectorNotReportingTime"
              ng-model="$ctrl.collectorNotReportingTime"
              min="0"
              required>
        </div>
        <span class="post-control-text">
          minutes.
        </span>
      </div>

      <div class="form-group" ng-if="$ctrl.policyType === 'driveWear'">
        <label class="control-label">Drive Has Less Than: </label>
        <div class="control-container">
          <input type="number"
              class="form-control"
              name="driveWearThreshold"
              ng-model="$ctrl.driveWearThreshold"
              min="0"
              required>
        </div>
        <span class="post-control-text">
          %.
        </span>
      </div>

      <div class="form-group" ng-if="$ctrl.policyType === 'driveWear'">
        <label class="control-label">Select Remaining Wear or Reserve: </label>
        <div class="control-container">
          <select class="form-control"
              name="driveWearType"
              ng-model="$ctrl.driveWearType"
              ng-options="wearType[0] as wearType[1] for wearType in $ctrl.driveWearTypes">
          </select>
        </div>
      </div>

      <div class="form-group" ng-if="$ctrl.policyType === 'sessions'">
        <label class="control-label">Number of Active iSCSI Sessions is Greater Than: </label>
        <div class="control-container">
          <input type="number"
              class="form-control"
              name="sessionsThreshold"
              ng-model="$ctrl.sessionsThreshold"
              integer
              min="0"
              required>
        </div>
      </div>

      <div class="form-group" ng-if="$ctrl.policyType === 'licensing'">
        <label class="control-label">PLC Exceeds ELC By: </label>
        <div class="control-container">
          <input type="number"
              class="form-control"
              name="capacityLicensingThreshold"
              ng-model="$ctrl.capacityLicensingThreshold"
              min="0"
              required>
        </div>
        <span class="post-control-text">
          %.
        </span>
      </div>

      <div class="form-group">
        <label class="control-label">Email Notification to: </label>
        <div class="control-container">
          <input type="text"
                 class="form-control"
                 name="emails"
                 ng-model="$ctrl.emails">
        </div>
      </div>


      <div class="button-container">
        <button class="button cancel" type="button" ng-click="$ctrl.cancel()">
          Cancel
        </button>

        <button class="button" type="submit" ng-disabled="$ctrl.form.$invalid">
          Save Alert Policy
        </button>
      </div>

    </form>

  </div>
</div>
