<div class="aiq-modal-header">
  <div class="aiq-modal-close-button" ng-click="$ctrl.cancel()">
    <i class="fa fa-times"></i>
  </div>

  NetApp Active IQ
</div>

<div class="aiq-modal-content">
  <p>Hi there! One question before you log in:</p>
  <p class="-center">Do you have an exsiting NetApp Support account?</p>
  <p>If "Yes", we will send you to the NetApp login page and get you on your way.</p>
  <p>If "No", we will send you to the NetApp registration page, where you can register for a NetApp Support account and enjoy all of the access benefits that NetApp Support offers.</p>
</div>

<div class="aiq-modal-footer">
  <button type="button" class="button button-submit" ng-click="$ctrl.loginWithSSO()" >Yes, I have an account</button>
  <button type="button" class="button button-cancel" ng-click="$ctrl.registerForNetappSupportAccount()">No, I want to register</button>
</div>