<div class="control-tower-page">
    <div class="container-fluid">
        <div class="sf-widget" ng-repeat="item in $ctrl.items">
            <div class="info-bar-timestamp">
                <span>{{ item.title }}</span>
                <div class="info-bar-refresh-button">
                    
                    <label class="switch">
                        <input type="checkbox" ng-model="checkboxModel">
                        <div class="slider round"></div>
                    </label>
                </div>
            </div>
            <div class="row control-tower-sum-data">
                <div class="info-box col-md-6">
                    <div class="info-box-content">
                        <span><span class="value -medium">{{ item.sumNum }}</span>{{ item.numUnit }}</span>
                        <span class="title">{{ item.description }}</span>
                    </div>
                </div>
                <div class="info-box col-md-6">
                    <div class="info-box-content">
                        <table class="table">
                            <thead>
                                <td>View Plotted Data</td>
                            </thead>
                            <tbody>
                                <tr ng-if="checkboxModel" ng-repeat="data in item.nodeData">
                                    <td>{{ data.subTitle }}</td>
                                    <th>{{ data.dataDisplay }}</th>
                                </tr>
                                <tr ng-if="!checkboxModel" ng-repeat="data in item.clusterData">
                                    <td>{{ data.subTitle }}</td>
                                    <th>{{ data.dataDisplay }}</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="control-tower-graph-row">
        <div class="graph-container col-md-6">
            <div class="node-type-count-graph sf-widget">
                <div class="info-bar-timestamp">
                    <span>Node Type - Count</span>
                </div>
                <div class="info-box-content">
                </div>
            </div>
        </div>
        <div class="graph-container col-md-6">
            <div class="os-distribution-node-graph sf-widget">
                <div class="info-bar-timestamp">
                    <span>OS Distribution - Node</span>
                </div>
                <div class="info-box-content">
                    OS Distribution Node
                </div>
            </div>
        </div>
    </div>
</div>