<div class="control-tower-page">
    <div class="container-fluid">
        <div class="sf-widget" ng-repeat="item in $ctrl.items">
            <div class="info-bar-timestamp">
                <span>{{ item.title }}</span>
                <div class="info-bar-refresh-button">
                    
                    <label class="switch">
                        <input type="checkbox" ng-model="checkboxModel">
                        <div class="slider round"></div>
                    </label>
                </div>
            </div>
            <div class="row control-tower-sum-data">
                <div class="info-box col-md-6">
                    <div class="info-box-content">
                        <span class="value -medium">{{ item.clusterData[item.sumNum] }}</span>
                        <span class="triangle-bottom-icon" ng-if="item.clusterData[item.changeRate] < 0">&#9660; {{ item.clusterData[item.changeRatePer] }} </span>
                        <span class="triangle-top-icon" ng-if="item.clusterData[item.changeRate] > 0">&#9650; {{ item.clusterData[item.changeRatePer] }}</span>
                        <span class="title">{{ item.description }}</span>
                    </div>
                </div>
                <div class="info-box col-md-6">
                    <div class="info-box-content">
                        <table class="table">
                            <thead>
                                <td>View Plotted Data</td>
                            </thead>
                            <tbody>
                                <tr ng-if="checkboxModel" ng-repeat="field in item.nodeFields">
                                    <td>{{ field.subTitle }}</td>
                                    <th>{{ item.nodeData[field.key] }} {{ field.perNode }} {{ item.nodeData[field.unitKey] }}</th>
                                </tr>
                                <tr ng-if="!checkboxModel" ng-repeat="field in item.clusterFields">
                                    <td>{{ field.subTitle }}</td>
                                    <th>{{ item.clusterData[field.key] }} {{ field.perCluster }} {{ item.clusterData[field.unitKey] }} </th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="control-tower-graph-row">
        <div class="graph-container col-md-6">
            <div class="node-type-count-graph sf-widget">
                <div class="info-bar-timestamp">
                    <span>Node Type - Count</span>
                </div>
                <div class="info-box-content">
                    Node Type - Count
                </div>
            </div>
        </div>
        <div class="graph-container col-md-6">
            <div class="os-distribution-node-graph sf-widget">
                <div class="info-bar-timestamp">
                    <span>OS Distribution - Node</span>
                </div>
                <div class="info-box-content">
                    OS Distribution Node
                </div>
            </div>
        </div>
    </div>
</div>