@import '../../../../styles/shared.less';

#alert-policies-table {
  #create-policy-button {
    background-color: @button-color;
    border-color: @button-color;
    color: @basic-white;
    padding: 5px 20px;
    margin-left: 10px;
    margin-right: 5px;
    display: inline-block;
  }
}
