@import '../../../../styles/shared.less';

.overview-dashboard-page {
  background-color: @whitescale-2;
  height: 100%;
  overflow-y: auto;

  .heading {
    padding: 25px 0 0 15px;
    font-size: 25px;
    color: @core-blue-grey;
  }

  .sf-widget {
    margin: 15px;
    padding: 0;

    .info-bar-timestamp {
      display: table;
      width: 100%;
      padding: 10px;
      border-bottom: 1px solid @whitescale-5;

      span {
        color: @whitescale-9;
        line-height: 25px;
      }

      .button {
        border: 1px solid @whitescale-5;
        background: transparent;
        font-size: 13px;
        vertical-align: middle;
        color: @font-icon-color;
        border-radius: 25px;
        height: 25px;
      }

      .info-bar-refresh-button {
        float: right;
      }

    }
  }

  .info-box {
    height: 160px;

    .throughput-value {
      margin: 15px 0;

      .label {
        font-size: 22px;
        padding: 0;
      }
    }

    .value {
      font-size: 50px;
      margin: 15px 0;
    }

    .title {
      font-size: 16px;
      white-space: nowrap;
    }

    .units {
      font-size: 24px;
      color: @core-blue-grey-light;
      font-weight: 400;
    }

    .prefixSymbol {
      font-size: 24px;
      color: @core-blue-grey-light;
      font-weight: 400;
    }

    .badge {
      height: 100px;
      .justify-content(center);

      .title {
        font-size: 14px;

        &.-large {
          font-size: 25px;
        }
      }

      .value {
        font-size: 40px;
      }
    }
  }
}

.graph-row {
  min-height:600px;
}

.graph-container {
  height: 600px;
  padding: 15px;

  >.overview-dashboard-graph {
    height: 100%;
    margin: 0;
    .sf-state-container {
      height: 500px;
    }
  }
}
