<div class="overview-dashboard-page">
  <div class="sf-widget container-fluid info-bar">

    <div class="info-bar-timestamp">
      <span>Last Updated: {{$ctrl.infoBarLastUpdated}}</span>
      <div class="info-bar-refresh-button">
        <button class="button refresh-btn"
                ng-click="$ctrl.refreshInfoBarData()">
          <i class="fa fa-refresh"></i>
        </button>
      </div>
    </div>

    <div class="info-bar-row col-lg-6 col-md-12">
      <div sf-state state= "$ctrl.getClusterSummaryState" class="info-box -node-count col-lg-2 col-md-2 col-sm-6">
        <div class="info-box-content">
          <a href="{{$ctrl.getHref('/nodes')}}" class="title sf-link">
            Nodes
            <i class="fa fa-arrow-right"></i>
          </a>
          <span class="value">{{$ctrl.clusterSummary.nodeCount}}</span>
        </div>
      </div>
      <div sf-state state= "$ctrl.getActiveVolumesState" class="info-box -volume-count col-lg-3 col-md-3 col-sm-6">
        <div class="info-box-content">
          <a href="{{$ctrl.getHref('/volumes/activeVolumes')}}" class="title sf-link">
            Volumes
            <i class="fa fa-arrow-right"></i>
          </a>
          <span class="value">{{$ctrl.volumesCount}}</span>
        </div>
      </div>
      <div sf-state state= "$ctrl.getClusterSummaryState" class="info-box -cluster-faults col-lg-7 col-md-7 col-sm-12">
        <div class="info-box-content">
          <a href="{{$ctrl.getHref('/reporting/errorLog')}}" class="title sf-link">
            Unresolved Faults
            <i class="fa fa-arrow-right"></i>
          </a>
          <div class="badge-container">
            <div class="badge -first"
                 ng-class="{'-warning': $ctrl.clusterSummary.unresolvedFaults.warning,
                '-empty-alert' : !$ctrl.clusterSummary.unresolvedFaults.warning }">
              <span class="value">{{$ctrl.clusterSummary.unresolvedFaults.warning || 0}}</span>
              <span class="title">Warning</span>
            </div>
            <div class="badge -second"
                 ng-class="{'-error': $ctrl.clusterSummary.unresolvedFaults.error,
                '-empty-alert' : !$ctrl.clusterSummary.unresolvedFaults.error }">
              <span class="value">{{$ctrl.clusterSummary.unresolvedFaults.error || 0}}</span>
              <span class="title">Error</span>
            </div>
            <div class="badge -third"
                 ng-class="{'-critical': $ctrl.clusterSummary.unresolvedFaults.critical,
                '-empty-alert' : !$ctrl.clusterSummary.unresolvedFaults.critical }">
              <span class="value">{{$ctrl.clusterSummary.unresolvedFaults.critical || 0}}</span>
              <span class="title">Critical</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="info-bar-row col-lg-6 col-md-12">
      <div sf-state state= "$ctrl.getCapacitySnapshotState" class="info-box -efficiency-info col-lg-4 col-md-4 col-sm-12">
        <div class="info-box-content -efficiency">
          <a href="{{$ctrl.getHref('/reporting/efficiency')}}" class="title sf-link">
            Efficiency (x)
            <i class="fa fa-arrow-right"></i>
          </a>
          <span ng-bind-html="$ctrl.capacitySnapshot.efficiencyFactor | percent:1:false:true:false:true:999" class="value"></span>
        </div>
      </div>
      <div sf-state state= "$ctrl.getClusterSummaryState" class="info-box -block-capacity col-lg-4 col-md-4 col-sm-6">
        <div class="info-box-content">
          <a href="{{$ctrl.getHref('/reporting/capacity?capacity-sync-graphs-context-graph=block-capacity')}}" class="title sf-link">
            Block Capacity
            <i class="fa fa-arrow-right"></i>
          </a>
          <div class="badge-container">
            <div class="badge"
                 ng-class="$ctrl.clusterSummary.clusterFull.blockFullness | clusterStage:true">
              <span class="title -large">{{$ctrl.clusterSummary.clusterFull.blockFullness | clusterStage}}</span>
            </div>
          </div>
        </div>
      </div>
      <div sf-state state= "$ctrl.getClusterSummaryState" class="info-box -metadata-capacity col-lg-4 col-md-4 col-sm-6">
        <div class="info-box-content">
          <a href="{{$ctrl.getHref('/reporting/capacity?capacity-sync-graphs-context-graph=metadata-capacity')}}" class="title sf-link">
            Metadata Capacity
            <i class="fa fa-arrow-right"></i>
          </a>
          <div class="badge-container">
            <div class="badge"
                 ng-class="$ctrl.clusterSummary.clusterFull.metadataFullness | clusterStage:true">
              <span class="title -large">{{$ctrl.clusterSummary.clusterFull.metadataFullness | clusterStage}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="info-details col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-model="isDetailCollapsed" ng-init="isDetailCollapsed = true;">
      <div class="info-details-button" ng-click="isDetailCollapsed = !isDetailCollapsed; $ctrl.resizeGraphs()">
      <span class="info-details-button-text">
        Cluster Details
        <i class="fa fa-chevron-down info-details-button-expand" ng-if="isDetailCollapsed"></i>
        <i class="fa fa-chevron-up info-details-button-collapse" ng-if="!isDetailCollapsed"></i>
      </span>
      </div>
      <div sf-state state="$ctrl.getClusterSummaryState" uib-collapse="isDetailCollapsed" class="info-details-content">
        <div class="info-details-content-column col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="info-details-content-box -elementos-version">
            <span class="info-details-content-title">Element OS Version</span>
            <span class="info-details-content-value">{{$ctrl.clusterSummary.clusterVersion}}</span>
          </div>
          <div class="info-details-content-box -iscsi-sessions">
            <span class="info-details-content-title">iSCSI Sessions</span>
            <span class="info-details-content-value">{{$ctrl.iSCSISessionsCount}}</span>
          </div>
        </div>
        <div class="info-details-content-column left-column col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="info-details-content-box -node-types">
            <span class="info-details-content-title">Node Types</span>
            <span class="info-details-content-value">{{$ctrl.nodeCount}}</span>
          </div>
          <div class="info-details-content-box -encryption-at-rest">
            <span class="info-details-content-title">Encryption at Rest</span>
            <span class="info-details-content-value">{{$ctrl.encryptionAtRestState}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="graph-row">
    <div class="graph-container col-md-6">
      <div class="overview-dashboard-graph sf-widget">
        <sf-graph-time-series component-id="performance-graph"
                              service="$ctrl.graphs.service"
                              graph="$ctrl.graphs.performance.graph"
                              limit="300"
                              context-range="$ctrl.graphs.contextRange"
                              title="Performance"
                              legend="$ctrl.graphs.performance.legend"
                              export="true">
        </sf-graph-time-series>
      </div>
    </div>
    <div class="graph-container col-md-6">
      <div class="overview-dashboard-graph sf-widget">
      <sf-graph-time-series component-id="utilization-graph"
                            service="$ctrl.graphs.service"
                            graph="$ctrl.graphs.utilization.graph"
                            limit="300"
                            context-range="$ctrl.graphs.contextRange"
                            title="Utilization"
                            legend="$ctrl.graphs.utilization.legend"
                            export="true">
      </sf-graph-time-series>
      </div>
    </div>
  </div>
</div>
