<div class="aiq-modal-header">
  <div class="aiq-modal-close-button" ng-click="$ctrl.cancel()">
    <i class="fa fa-times"></i>
  </div>

  Restore Cluster {{ $ctrl.resolve.cluster.clusterName }} to Customer Account
</div>


<div class="aiq-modal-message" ng-show="$ctrl.error">
  <div class="banner-message banner-message-error">
    <i class="fa fa-times-circle"></i>
    {{ $ctrl.error }}
  </div>
</div>

<div class="aiq-modal-content">
  <p>
    Enter the customer name to restore this cluster to.
  </p>

  <form name="customerUIDForm" method="post" novalidate>
    <div class="form-group">
      <label class="control-label">
        Customer Name:
      </label>
      <div class="control-container">
        <input name="customerName"
               class="form-control input-sm"
               ng-model="$ctrl.customer"
               uib-typeahead="c as c.customerName for c in $ctrl.customers | filter:{customerName:$viewValue}"
               required
               autocomplete="off"
               autofocus>
      </div>
    </div>
  </form>
</div>

<div class="aiq-modal-footer">
  <button class="button button-submit"
      ng-click="$ctrl.restoreCluster()"
      ng-disabled="!customerUIDForm.$valid">
    Restore Cluster
  </button>
  <button class="button button-cancel" ng-click="$ctrl.cancel()"> Cancel </button>
</div>
