# Mac
.DS_Store

# Node
node_modules
*.debug

# Gulp
report
coverage
build
tmp

# Bower
bower_components

# Logging
logs
*.log

# Runtime
pids
*.pid
*.seed

# IDEs
.idea

# local configs
local.config.js
mock.config.js
test/protractor-qe-cucumber.config.js
test/protractor-qe-e2e.config.js

local.config.js

build.zip