# Mac
.DS_Store

# TypeScript
client/**/*.js
client/**/*.js.map
app/**/*.js
app/**/*.js.map
test/unit/**/*.js
test/unit/**/*.js.map

# Node
node_modules
*.debug

# Gulp
report
coverage
build
tmp
server/proxy.config.js
build.zip

# Logging
logs
*.log

# Runtime
pids
*.pid
*.seed