<form class="change-password-form form-horizontal"
    name="$ctrl.form"
    ng-submit="$ctrl.submit()"
    novalidate>

  <div class="success-message" ng-show="$ctrl.successful && !$ctrl.form.$dirty">
    <i class="fa fa-check"></i> Password was successfully changed.
  </div>

  <div class="error-message" ng-show="$ctrl.error">
    Error: {{ $ctrl.error }}
  </div>


  <div class="form-group">
    <label class="control-label"> Current Password: </label>
    <div class="control-container">
      <input type="password"
          class="form-control input-sm"
          name="currentPassword"
          ng-model="$ctrl.currentPassword"
          autocomplete="current-password"
          required
          ng-class="{'ng-invalid': $ctrl.incorrectPassword}"
          ng-change="$ctrl.incorrectPassword = false">

      <div id="current-password-required-error"
          class="validation-help"
          ng-show="$ctrl.form.currentPassword.$touched && $ctrl.form.currentPassword.$error.required">
        Current password is required.
      </div>
      <div id="current-password-incorrect-error"
          class="validation-help"
          ng-show="$ctrl.incorrectPassword">
        The current password is not correct. Please enter the correct password.
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label"> New Password: </label>
    <div class="control-container">
      <input type="password"
          class="form-control input-sm"
          name="newPassword"
          ng-model="$ctrl.newPassword"
          autocomplete="new-password"
          ng-minlength="12"
          ng-maxlength="30"
          validate-contains="{
            'Uppercase': '[A-Z]',
            'Number': '\\d',
          }"
          required>

      <div id="new-password-required-error"
          class="validation-help"
          ng-show="$ctrl.form.newPassword.$touched
            && $ctrl.form.newPassword.$error.required">
        New password is required.
      </div>
      <div id="new-password-min-length-error"
          class="validation-help"
          ng-show="$ctrl.form.newPassword.$touched
            && !$ctrl.form.newPassword.$error.required
            && $ctrl.form.newPassword.$error.minlength">
        Password must be at least 12 characters long.
      </div>
      <div id="new-password-max-length-error"
          class="validation-help"
          ng-show="$ctrl.form.newPassword.$touched
            && !$ctrl.form.newPassword.$error.required
            && $ctrl.form.newPassword.$error.maxlength">
        Password must be at most 30 characters long.
      </div>
      <div id="new-password-upper-case-error"
          class="validation-help"
          ng-show="$ctrl.form.newPassword.$touched
            && !$ctrl.form.newPassword.$error.required
            && $ctrl.form.newPassword.$error.containsUppercase">
        Password must contain at least one upper-case letter.
      </div>
      <div id="new-password-number-error"
          class="validation-help"
          ng-show="$ctrl.form.newPassword.$touched
            && !$ctrl.form.newPassword.$error.required
            && $ctrl.form.newPassword.$error.containsNumber">
        Password must contain at least one number.
      </div>
    </div>
  </div>


  <div class="form-group">
    <label class="control-label"> Re-enter New Password: </label>
    <div class="control-container">
      <input type="password"
          class="form-control input-sm"
          name="reenterNewPassword"
          ng-model="$ctrl.reenterNewPassword"
          autocomplete="new-password"
          validate-equals="$ctrl.form.newPassword"
          required>

      <div id="reenter-new-password-match-error"
          class="validation-help"
          ng-show="$ctrl.form.reenterNewPassword.$touched
            && $ctrl.form.reenterNewPassword.$error.equals">
        The passwords entered do not match. Please correct your entries.
      </div>
    </div>
  </div>

  <div class="password-requirements">
    Passwords must be between 12-30 characters long,<br/>
    and contain at least one upper-case letter and one number.
  </div>

  <div>
    <button class="button" type="submit" ng-disabled="$ctrl.form.$invalid">
      Change Password
    </button>
  </div>

</form>
