<div class="sf-navbar" role="navigation">
  <div class="sf-main-navbar" ng-mouseenter="$ctrl.delayMouseLeave()">
    <div class="pull-left">
      <ul class="navbar-nav nav">
        <li class="navbar-item -main">
          <span class='navbar-brand'>Active IQ</span>
        </li>
        <li class="navbar-item -main"
            id="sf-main-navbar-item-dashboard"
            ng-class="{'active':$ctrl.activeItems.main === 'dashboard'}">
          <a href="#/dashboard/overview">Dashboard</a>
        </li>
        <li class="navbar-item -main cluster-select"
            id="sf-main-navbar-item-cluster"
            ng-class="{'active':$ctrl.activeItems.main === 'cluster'}">
          <cluster-select></cluster-select>
        </li>
        <li class="navbar-item -main"
            id="sf-main-navbar-item-admin"
            ng-class="{'active':$ctrl.activeItems.main === 'admin'}"
            permission permission-only="['registerCluster']">
          <a href="#/admin/unregisteredClusters">Admin</a>
        </li>

        <!--<li class="navbar-item -main"
            id="sf-main-navbar-item-users"
            ng-class="{'active':$ctrl.activeItems.main === 'users'}">
          <a href="#/users">Users</a>
        </li>-->
      </ul>
    </div>

    <div class="pull-right">
      <ul class="navbar-nav nav">
        <li class="navbar-item -main -left-divider">
          <div class="customer-name">
            <div class="ellipses" title="{{ $ctrl.userInfo.currentUser.customerName }}">
              {{ $ctrl.userInfo.currentUser.customerName }}
            </div>
          </div>
        </li>
        <li class="navbar-item -main -left-divider">
          <a id="navbar-user" href="#/account">
            <i class="fa fa-user"></i> {{ $ctrl.userInfo.currentUser.username }}
          </a>
        </li>
        <!-- Code to add a nav button to trigger the API log -->
        <!-- Removed, for now, for the Beta release -->
        <!--<li class="navbar-item -main -left-divider">
          <a id="api-log-anchor" ng-click="$ctrl.onApiLogOpen()">
            <i class="fa fa-list"></i>
            <span>API Log</span>
          </a>
        </li>-->
        <li class="navbar-item -main -left-divider" uib-dropdown>
          <a id="navbar-menu" uib-dropdown-toggle>
            <i class="fa fa-bars"></i>
          </a>
          <ul id="navbar-menu-dropdown" role="menu" uib-dropdown-menu>
            <li class="menu-option" role="menuitem">
              <a id="return-to-old-ui-anchor" ng-href="http://{{$ctrl.host}}" alt="Return to Legacy Active IQ">
                <i class="fa fa-external-link"></i>
                <span>Legacy Active IQ</span>
              </a>
            </li>
            <li class="divider"></li>
            <li class="menu-option" role="menuitem">
              <a id="account-settings-anchor" href="#/account" alt="Account Settings">
                <i class="fa fa-gear"></i>
                <span>Account Settings</span>
              </a>
            </li>
            <li class="divider"></li>
            <li class="menu-option" role="menuitem">
              <a id="documentation-anchor" href="http://help.monitoring.solidfire.com/activeiq/" target="_blank"
                 alt="Documentation">
                <i class="fa fa-file-text-o"></i>
                <span>Documentation</span>
              </a>
            </li>
            <li class="divider"></li>
            <li class="menu-option" role="menuitem">
              <a id="support-anchor" href="http://www.solidfire.com/platform/support/" target="_blank"
                 alt="Support">
                <i class="fa fa-question-circle"></i>
                <span>Support</span>
              </a>
            </li>
            <li class="divider"></li>
            <li class="menu-option"  ng-click='$ctrl.logout()' role="menuitem">
              <a id="logout-anchor" href="#">
                <i class="fa fa-sign-out"></i>
                <span>Logout</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <div class="sf-sub-navbar" ng-show="$ctrl.subNavbarItems[$ctrl.activeItems.main]">
    <div class="pull-left">
      <ul class="navbar-nav nav">
        <li class="navbar-item -sub"
            id="sf-sub-navbar-item-{{$ctrl.activeItems.main}}-{{subNavbarItem.key}}"
            ng-class="{'active':$ctrl.activeItems.sub === subNavbarItem.key}"
            ng-disabled="subNavbarItem.disabled"
            permission permission-only="subNavbarItem.permissions"
            ng-repeat="subNavbarItem in $ctrl.subNavbarItems[$ctrl.activeItems.main]">

          <a href="{{$ctrl.getHref(subNavbarItem)}}"
             ng-if="!subNavbarItem.menuItems"
             ng-click="$ctrl.subNavbarItem = subNavbarItem; $ctrl.clickedSubNavMenu = false"
             ng-mouseenter="$ctrl.subNavbarItem = subNavbarItem; $ctrl.clickedSubNavMenu = false">
            <span ng-bind="subNavbarItem.label"></span>
          </a>

          <a href="{{$ctrl.getHref(subNavbarItem)}}"
             ng-if="subNavbarItem.menuItems"
             ng-click="$ctrl.subNavbarItem = subNavbarItem; $ctrl.clickedSubNavMenu = false; $ctrl.currentlyInMenu = false"
             ng-mouseenter="$ctrl.subNavbarItem = subNavbarItem; $ctrl.hoveredSubNavMenu = true; $ctrl.currentlyInMenu = true"
             ng-mouseleave="$ctrl.currentlyInMenu = false; $ctrl.delayMouseLeave()">
            <span ng-bind="subNavbarItem.label"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="sf-sub-nav-menu -overlay"
       ng-mouseenter="$ctrl.hoveredSubNavMenu = true; $ctrl.currentlyInMenu = true"
       ng-mouseleave="$ctrl.delayMouseLeave(); $ctrl.currentlyInMenu = false"
       ng-show="$ctrl.displaySubNavMenu()">
    <div class="pull-left">
      <ul class="navbar-nav nav">
        <li class="navbar-item -sub-menu"
            id="sf-sub-nav-menu-item-{{$ctrl.activeItems.main}}-{{$ctrl.subNavbarItem.key}}-{{subNavMenuItem.key}}"
            ng-class="{'active':$ctrl.activeItems.menu === subNavMenuItem.key}"
            ng-disabled="subNavMenuItem.disabled"
            permission permission-only="subNavMenuItem.permissions"
            ng-repeat="subNavMenuItem in $ctrl.subNavbarItem.menuItems">

          <a href="{{$ctrl.getHref(subNavMenuItem)}}"
             ng-click="$ctrl.hoveredSubNavMenu = false; $ctrl.clickedSubNavMenu = false;">
            <span ng-bind="subNavMenuItem.label"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

