@import 'shared.less';

body {
  min-width: 768px;
  background-color: @page-bg-color;
  font-family: 'Avenir Next', Verdana, Arial, Helvetica, sans-serif;
}

a, a:hover, a:active, a:visited, a:focus {
  text-decoration: none;
  cursor: pointer;
}

/* JIRA issue collector */
a.atlwdg-trigger, .aui-button-primary.submit-button {
  background-color: @button-color;
}

input {
  .placeholder({
    color: @text-secondary-color;
    font-style: italic;
    font-size: 13px;
  })
}

/**
 * Bootstrap makes cursor: not-allowed on disabled form-controls, this overrides that
 */
.form-control[disabled],
.form-control[readonly], fieldset[disabled]
.form-control {
  cursor: auto;
}

/**
 * Override Bootstrap navbar collapse
 */
.navbar-nav {
  float: left !important;
  margin: 0 !important;

  > li {
    float: left !important;

    > a {
      padding-top: 15px !important;
      padding-bottom: 15px !important;
    }
  }
}

/*
 * IE 10+ hacks for their lack of support for intrinsic sizing
 */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .nav-bar-shelf {
    min-height: 100px !important;
  }
}

/**
 * Override Bootstrap UI Dropdown to be scrollable
 */
.scrollable-menu {
  height: auto;
  overflow-x: hidden;
  max-height: calc(~"80vh - 160px");
}
