@import '../../../node_modules/@sf-netapp/sf-components/lib/sf-styles/lib/colors.less';

@cancel-button-color: #888888;

@cluster-select-background: darken(@brand-primary-color, 4%);
@cluster-select-item-text: #95bcd3;

@blue-button-color: #1E4A93;
