@import './colors.less';

.table-badge {
  display: block;
  width: 100%;
  color: @text-primary-color;
  border-radius: 3px;
  max-height: 30px;
  max-width: 150px;
  padding: 0 10px;
  margin: 0 auto;
  box-sizing: border-box;
  line-height: 30px;
  text-align: center;
  background-color: @badge-empty;

  &.-critical {
    color: @basic-white;
    background-color: @badge-critical-red;
  }
  &.-error {
    background-color: @badge-error-orange;
  }
  &.-warning {
    background-color: @badge-warning-yellow;
  }
  &.-normal {
    background-color: @badge-no-alert-green;
  }
  &.-info, &.-bestPractice {
    color: @basic-white;
    background-color: @badge-tasks-blue;
  }
}
