@import './colors';
@import './prefixer';

.sf-table-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  // Had to set this to get the animation to look right with .sf-table-message-banner set to display: inline-block.
  line-height: 0;

  .sf-table-message-banner {
    margin-bottom: 15px;
    display: inline-block;
    width: auto;
    vertical-align: top;

    &-error {
      padding-right: 30px;
    }
  }

  .sf-table-widget {
    text-align: left;
    line-height: normal;
  }
}

.sf-table-widget {
  background: @basic-white;
  margin: 0;
  position: relative;
  height: 100%;
  width: 100%;
}

.select-filter {
  select {
    text-transform: capitalize;
  }
}
