<div class="cluster-select" uib-dropdown is-open="$ctrl.isOpen" auto-close="outsideClick">
  <a id="cluster-select-anchor" uib-dropdown-toggle>
    <span>{{$ctrl.clusterSelect.selectedCluster.clusterName || 'All Clusters'}}</span>
    <i class="fa fa-chevron-down"></i>
  </a>

  <div id="cluster-select-menu" uib-dropdown-menu>
    <div class="cluster-select-search-container">
      <i class="fa fa-search"></i>
      <input id="cluster-select-filter"
             placeholder="type a cluster name to filter"
             ng-model="$ctrl.filterInput"
             ng-change="$ctrl.filterClusters()">
    </div>
    <span class="cluster-select-hints"
          uib-tooltip-template="'cluster-select-hints-template'"
          tooltip-class="cluster-select-hints-tooltip"
          tooltip-trigger="outsideClick"
          tooltip-placement="right-top">
      Hints
    </span>

    <div ng-show="$ctrl.state === 'loading'" class="cluster-select-loading">
      Loading List of Clusters...
    </div>

    <div ng-show="$ctrl.state === 'error'" class="cluster-select-error">
      Error Loading Clusters: {{$ctrl.errorMsg}}
    </div>

    <div ng-show="$ctrl.state === 'loaded'" class="cluster-select-loaded">
      <div class="cluster-select-list-tab-container">
        <div class="cluster-select-list-tab all-clusters"
           ng-class="{'active' : !recentlyViewed}"
           ng-click="recentlyViewed = false">
          <a>All Clusters</a>
        </div>
        <div class="cluster-select-list-tab recently-viewed"
           ng-class="{'active' : recentlyViewed}"
           ng-click="recentlyViewed = true">
          <a>Recently Viewed</a>
        </div>
      </div>

      <div ng-show="(recentlyViewed ? $ctrl.recentlyViewed : $ctrl.clusters).length === 0" class="cluster-select-empty">
        No Clusters Found
      </div>

      <div class="cluster-select-list scrollable-menu" scroll-to-top="$ctrl.clusters.length">
        <div ng-if="!recentlyViewed"
             class="cluster-select-list-group"
             ng-repeat="customer in $ctrl.clusters">
          <span title="{{customer.$key}}">{{customer.$key}}</span>
          <div class="cluster-select-list-item"
                ng-repeat="cluster in customer | orderBy: 'clusterName'"
                ng-click="$ctrl.select(cluster); $ctrl.isOpen = false;"
                title="{{cluster.clusterName}}">
              {{cluster.clusterName}}
          </div>
        </div>
        <div ng-if="recentlyViewed"
             class="cluster-select-list-item"
             ng-repeat="cluster in $ctrl.recentlyViewed"
             ng-click="$ctrl.select(cluster); $ctrl.isOpen = false;"
             title="{{cluster.clusterName}}">
          {{cluster.clusterName}}
        </div>
      </div>
    </div>
  </div>

  <script type="text/ng-template" id="cluster-select-hints-template">
    <p>
      Search for cluster named "myCluster": <pre>myCluster</pre>
    </p>
    <p>
      Search for clusters containing "my" and "cluster": <pre>my cluster</pre>
    </p>
    <p>
      Search for clusters with version 8.2: <pre>version:8.2</pre>
    </p>
    <p>
      Search for clusters with version 8.* and containing the word "solidfire": <pre>version:8 solidfire</pre>
    </p>
  </script>
</div>
