@import '../../styles/shared.less';

.overview-dashboard-page {
  background-color: @whitescale-2;
  height: 100%;
}
.graph-container {
  height: 600px;
}
.graph-container:first-child > .sf-widget{
  margin-right: 0;
}
.graph-container:last-child > .sf-widget{
  margin-left: 0;
}