<div class="sf-layout-container -scroll-y -center" xmlns="http://www.w3.org/1999/html" ng-cloak>
  <div class="sf-page-background">
    <div class="sf-page-container network-settings-page">
      <p class="title">Bond 1G</p>
      <hr class="divider">
      <div class="sf-page">

        <form novalidate name='form' class="css-form">
          <div sf-state state="ctrl.pageState" type="page" class="content">
            <fieldset id="bond-one-g-fieldset" ng-disabled="ctrl.whenProcessing()">

              <div class="sf-page-details">
                <p>
                  <label class="-bold">Method:</label>
                  <span id="bond-one-g-method"> {{::ctrl.config.network.Bond1G.method}}</span>
                </p>
                <p>
                  <label class="-bold ">MAC Address 1:</label>
                  <span id="bond-one-g-ethernet-1-mac"> {{::ctrl.ethernetInfo.bond1G[0].mac}} </span>

                  <label class="-bold ">Port:</label>
                  <span id="bond-one-g-ethernet-1-port"> {{::ctrl.ethernetInfo.bond1G[0].port}} </span>
                </p>
                <p>
                  <label class="-bold ">MAC Address 2:</label>
                  <span id="bond-one-g-ethernet-2-mac"> {{::ctrl.ethernetInfo.bond1G[1].mac}} </span>

                  <label class="-bold ">Port:</label>
                  <span id="bond-one-g-ethernet-2-port"> {{::ctrl.ethernetInfo.bond1G[1].port}} </span>
                </p>
              </div>

              <h5>General Settings</h5>
              <hr class="divider">

              <div class="sf-page-section bond-mode-settings">
                <div class="form-group">
                  <div class="network-settings-input">
                    <label>IP Address: </label>
                    <input id="bond-one-g-address"
                           class="form-control input-md"
                           type="text"
                           name="address"
                           ng-model="ctrl.config.network.Bond1G.address" />
                  </div>
                </div>

                <div class="form-group">
                  <div class="network-settings-input">
                    <label>Subnet Mask: </label>
                    <input id="bond-one-g-netmask"
                           class="form-control input-md"
                           type="text"
                           name="netmask"
                           ng-model="ctrl.config.network.Bond1G.netmask" />
                  </div>
                </div>

                <div class="form-group">
                  <div class="network-settings-input">
                    <label>Gateway Address: </label>
                    <input id="bond-one-g-gateway"
                           class="form-control input-md"
                           type="text"
                           name="gateway"
                           ng-model="ctrl.config.network.Bond1G.gateway" />
                  </div>
                </div>

                <div class="form-group">
                  <div class="network-settings-input">
                    <label>MTU: </label>
                    <input id="bond-one-g-mtu"
                           class="form-control input-md"
                           type="text"
                           name="mtu"
                           ng-model="ctrl.config.network.Bond1G.mtu" />
                  </div>
                </div>

                <div class="form-group">
                  <div class="network-settings-input">
                    <label>DNS Servers: </label>
                    <input id="bond-one-g-dns-servers"
                           class="form-control input-md"
                           type="text"
                           name="dnsServers"
                           ng-model="ctrl.config.network.Bond1G['dns-nameservers']" />
                  </div>
                </div>

                <div class="form-group">
                  <div class="network-settings-input">
                    <label>Search Domains: </label>
                    <input id="bond-one-g-search-domains"
                           class="form-control input-md"
                           type="text"
                           name="searchDomains"
                           ng-model="ctrl.config.network.Bond1G['dns-search']" />
                  </div>
                </div>

                <div class="form-group">
                  <div class="network-settings-input">
                    <label>Bond Mode: </label>
                    <select id="bond-one-g-bond-mode"
                            class="form-control"
                            ng-model="ctrl.config.network.Bond1G['bond-mode']">
                      <option value="ActivePassive">ActivePassive</option>
                      <option value="ALB">ALB</option>
                      <option value="LACP">LACP</option>
                    </select>
                  </div>
                </div>

                <div class="form-group" ng-show="ctrl.config.network.Bond1G['bond-mode'] === 'LACP'">
                  <div class="network-settings-input">
                    <label>LACP Rate: </label>
                    <select id="bond-one-g-lacp-rate"
                            class="form-control"
                            ng-model="ctrl.config.network.Bond1G['bond-lacp_rate']">
                      <option value="Slow">Slow</option>
                      <option value="Fast">Fast</option>
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <div class="network-settings-input">
                    <label>Status: </label>
                    <select id="bond-one-g-status"
                            class="form-control"
                            ng-model="ctrl.config.network.Bond1G.status">
                      <option value="Down">Down</option>
                      <option value="Up">Up</option>
                      <option value="UpAndRunning">UpAndRunning</option>
                    </select>
                  </div>
                </div>
              </div>

              <h5>Routes</h5>
              <hr class="divider">

              <div class="sf-page-section network-routes">
                <div class="network-route-container" ng-repeat="route in ctrl.config.network.Bond1G.routes">
                  <div class="network-route-input-container">
                    <div class="network-route-input">
                      <label>Type</label>
                      <input class="form-control input-md network-route-type"
                             type="text"
                             name="routeType"
                             ng-model="route.type" />
                    </div>
                    <div class="network-route-input">
                      <label>Target</label>
                      <input class="form-control input-md network-route-target"
                             type="text"
                             name="routeTarget"
                             ng-model="route.target" />
                    </div>
                    <div class="network-route-input">
                      <label>Netmask</label>
                      <input class="form-control input-md network-route-netmask"
                             type="text"
                             name="routeNetmask"
                             ng-model="route.netmask" />
                    </div>
                    <div class="network-route-input">
                      <label>Gateway</label>
                      <input class="form-control input-md network-route-gateway"
                             type="text"
                             name="routeGateway"
                             ng-model="route.gateway" />
                    </div>
                  </div>
                  <div class="network-route-btn-container">
                    <span class="network-route-remove-btn" ng-click="ctrl.removeRoute($index, 'Bond1G')">Remove</span>
                  </div>
                </div>
                <button class="button -create network-add-route-btn" ng-click="ctrl.addRoute('Bond1G')">Add a Route</button>
              </div>

              <hr class="divider">

              <button type="submit"
                      class="button -save update-network-settings-btn"
                      sf-state-button
                      active-state='ctrl.currentState'
                      default-text="'Save Changes'"
                      success-text="'Saved'"
                      ng-click="ctrl.updateConfig()"
                      ng-class="{'-failure' : ctrl.currentState === 'failure' }">
              </button>
            </fieldset>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
