<div class="sf-layout-container -scroll-y -center" xmlns="http://www.w3.org/1999/html" ng-cloak>
    <div class="sf-page-background">
        <div class="sf-page-container cluster-settings-page">
            <p class="title">Cluster Settings</p>
            <hr class="divider">
            <div class="sf-page">
                <form novalidate name="form" class="css-form">
                <div sf-state
                     state="ctrl.pageState"
                     type="page"
                     class="content">
                     <fieldset id="cluster-settings-fieldset" ng-disabled="ctrl.whenProcessing()">
                        <div class="sf-page-section cluster-settings">
                            <div class="form-group">
                                <div class="cluster-settings-input">
                                    <label for="cluster-role" class="leftLabel">Role:</label>
                                    <input type="text"
                                           class="form-control input-md"
                                           id="cluster-role" ng-model="ctrl.config.cluster.role" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="cluster-settings-input">
                                    <label for="cluster-hostname" class="leftLabel">Hostname:</label>
                                    <input type="text"
                                           class="form-control input-md"
                                           id="cluster-hostname" ng-model="ctrl.config.cluster.name" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="cluster-settings-input">
                                    <label for="cluster-name" class="leftLabel">Cluster:</label>
                                    <input type="text"
                                           class="form-control input-md"
                                           id="cluster-name" ng-model="ctrl.config.cluster.cluster" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="cluster-settings-input">
                                    <label for="cluster-membership" class="leftLabel">Cluster Membership:</label>
                                    <input type="text"
                                           class="form-control input-md"
                                           id="cluster-membership" ng-model="ctrl.config.cluster.state" />
                               </div>
                            </div>
                            <div class="form-group">
                                <div class="cluster-settings-input">
                                    <label for="cluster-version" class="leftLabel">Version:</label>
                                    <input type="text"
                                           class="form-control input-md"
                                           id="cluster-version" ng-model="ctrl.config.cluster.version" />
                                </div>
                            </div>
                            <div class="form-group" ng-if="ctrl.config.cluster.state === 'Active'">
                                <div class="cluster-settings-input">
                                    <label for="cluster-ensemble" class="leftLabel ensemble-label">Ensemble:</label>
                                    <div class="form-control textbox"
                                        id="cluster-ensemble"
                                        ng-bind-html="ctrl.formattedEnsemble">
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="cluster-settings-input" ng-if="ctrl.config.cluster.state === 'Active'">
                                    <label for="cluster-node-id" class="leftLabel">Node ID:</label>
                                    <input type="text"
                                           class="form-control input-md"
                                           id="cluster-node-id" ng-model="ctrl.config.cluster.nodeID" />
                                </div>
                                <div class="cluster-settings-input" ng-if="ctrl.config.cluster.state === 'Pending'">
                                    <label for="cluster-pending-node-id" class="leftLabel">Pending Node ID:</label>
                                    <input type="text"
                                           class="form-control input-md"
                                           id="cluster-pending-node-id" ng-model="ctrl.config.cluster.pendingNodeID" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="cluster-settings-input">
                                    <label for="cluster-interface" class="leftLabel">Cluster Interface:</label>
                                    <input type="text"
                                           class="form-control input-md"
                                           id="cluster-interface" ng-model="ctrl.config.cluster.cipi" />
                               </div>
                            </div>
                            <div class="form-group">
                                <div class="cluster-settings-input">
                                    <label for="cluster-management-interface" class="leftLabel">Management Interface:</label>
                                    <select id="cluster-management-interface"
                                       class="form-control input-md"
                                       ng-model="ctrl.config.cluster.mipi">
                                        <option value="Bond1G">Bond1G</option>
                                        <option value="Bond10G">Bond10G</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="cluster-settings-input">
                                    <label for="cluster-storage-interface" class="leftLabel">Storage Interface:</label>
                                    <input type="text"
                                           class="form-control input-md"
                                           id="cluster-storage-interface" ng-model="ctrl.config.cluster.sipi" />
                                </div>
                            </div>
                        </div>
                        <button type="submit"
                                class="button -save update-cluster-settings-btn"
                                sf-state-button
                                active-state='ctrl.currentState'
                                default-text="'Save Changes'"
                                success-text="'Saved'"
                                ng-click="ctrl.updateConfig()"
                                ng-class="{'-failure' : ctrl.currentState === 'failure' }">
                        </button>
                    </fieldset>
                </div>
            </form>
        </div>
    </div>
</div>
