<div class='login-page'>
  <div class='login-container'>
    <img class='netapp-logo' src='images/na_logo_hrz_1c-rev_rgb_lrg.png'>
    <form class='login-form'
          name='login-form'
          ng-submit='$ctrl.login(credentials)' novalidate>
      <span class='pull-left login-label'>Sign in to Active IQ</span>
      <div class='form-group'>
        <input type='text' id='username-input'
               class='form-control'
               placeholder='User name'
               required
               ng-model='credentials.username'>
      </div>
      <div class='form-group'>
        <input type='password' id='password-input'
               class='form-control'
               placeholder='Password'
               required
               ng-model='credentials.password'>
      </div>
      <div class="pull-left">
        <span class='login-error error-message'
              ng-bind='$ctrl.error'></span>
        <a class="reset-password-link sf-link" href="#/reset-password">
          Forget your password?
        </a>
      </div>
      <button ng-disabled='!(credentials.username && credentials.password)'
              class='pull-right login-btn button'
              type='submit'>
        Sign in
      </button>
    </form>
  </div>
</div>
