<div class='login-container'>
  <img class='netapp-logo' src='images/na_logo_hrz_1c-rev_rgb_lrg.png'>
  <div class="login-form">
    <h3>Welcome to Active IQ</h3>
    <p>Use your exsiting NetApp Support credentials to sign in to Active IQ</p>
    <button class='login-btn button login-netapp-btn' ng-click="$ctrl.loginWithSSO()">Sign in with NetApp</button>
    <p>New to NetApp? <a href="https://mysupport.netapp.com/eservice/public/now.do" target="_BLANK">Register for your NetApp Support account now!</a></p>

    <hr />
    <p>Don't have a Netapp Support Account, but have an Active IQ account?</p>
    <button class='login-btn button login-aiq-btn' ng-click="$ctrl.openSSOPushModal()">Sign in with Active IQ</button>
  </div>
</div>
