<div class="register-with-netapp-support full-page">
  <div class="page-container middle-of-page">
    <div class="page-section">
      <div class="section-label">Not Registered with NetApp Support?</div>

      <div class="section-content">
        <p>
          <i class="fa fa-bell-o" aria-hidden="true"></i>
          It appears that you have not yet registered for a NetApp Support Account. Registration benefits include access to:
        </p>

        <ul>
          <li>The NetApp Support Site</li>
          <li>The NetApp Knowledgebase</li>
          <li>The NetApp Utility ToolChest</li>
          <li>NetApp Product Documentation</li>
        </ul>

        <p class="center">Take a few minutes to register for your NetApp Support account today!</p>

        <a href="https://mysupport.netapp.com/eservice/public/now.do" target="_BLANK" class="register-with-netapp-support-btn">
          <button type="button" class="button">Register with NetApp Support</button>
        </a>
        <a ng-href="{{ $root.redirectUrl ? $root.redirectUrl : '#/dashboard/overview' }}" class="take-me-to-aiq-link">Take me to Active IQ</a>
      </div>
    </div>
  </div>
</div>

<div class="disable-page-overlay"></div>