<div class="dashberg-page">
  <div class="container-fluid">

    <div class="sf-widget">
      <div class="info-bar-timestamp">
        <span class="dashberg-title">Dashberg</span>
        <div class="info-bar-refresh-button">
          <span>Filter By:&nbsp</span>
          <select ng-model="$ctrl.selectedCustomerID" ng-change="$ctrl.updateID()">
            <option selected>Customer Name</option>
            <option ng-repeat="customer in $ctrl.customers" value="{{ customer.id }}"> {{ customer.name }}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="sf-widget node-info-box">
      <div class="info-bar-timestamp node-data-title">
        <span>Nodes in Clusters</span>
      </div>
      <div class="row dashberg-data-display">
        <div class="info-box col-md-6 node-data-description">
          <div class="info-box-content dashberg-sum-data">
            <span class="value -medium">{{ $ctrl.performData.nodes.total }}</span>
            <span class="triangle-bottom-icon" ng-if="$ctrl.performData.nodes.changeRate < 0">&#9660; {{ $ctrl.performData.nodes.changeRate | abs | percent:1:true:false:false }} </span>
            <span class="triangle-top-icon" ng-if="$ctrl.performData.nodes.changeRate > 0">&#9650; {{ $ctrl.performData.nodes.changeRate | abs | percent:1:true:false:false }}</span>
            <span class="title">Total Nodes in Field</span>
          </div>
        </div>
        <div class="info-box col-md-6 node-data-table">
          <div class="info-box-content">
            <table class="table">
              <thead>
                <td>View Plotted Data</td>
              </thead>
              <tbody>
                <tr>
                  <td>Min Nodes Per Cluster</td>
                  <td class="data-bold">{{ $ctrl.performData.nodes.min }}/{{ $ctrl.performData.nodes.unit }}</td>
                </tr>
                <tr>
                  <td>Max Nodes Per Cluster</td>
                  <td class="data-bold">{{ $ctrl.performData.nodes.max }}/{{ $ctrl.performData.nodes.unit }}</td>
                </tr>
                <tr>
                  <td>Avg Nodes Per Cluster</td>
                  <td class="data-bold">{{ $ctrl.performData.nodes.avg }}/{{ $ctrl.performData.nodes.unit }}</td>
                </tr>
                <tr>
                  <td>Standard Deviation</td>
                  <td class="data-bold">{{ $ctrl.performData.nodes.stddev | percent:0:true:false:false  }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="sf-widget volume-info-box">
      <div class="info-bar-timestamp volume-data-title">
        <span>Volumes in Clusters</span>
      </div>
      <div class="row dashberg-data-display">
        <div class="info-box col-md-6 volume-data-description">
          <div class="info-box-content dashberg-sum-data">
            <span class="value -medium">{{ $ctrl.performData.volumes.total }}</span>
            <span class="triangle-bottom-icon" ng-if="$ctrl.performData.volumes.changeRate < 0">&#9660; {{ $ctrl.performData.volumes.changeRate | abs | percent:1:true:false:false }} </span>
            <span class="triangle-top-icon" ng-if="$ctrl.performData.volumes.changeRate > 0">&#9650; {{ $ctrl.performData.volumes.changeRate | abs | percent:1:true:false:false }}</span>
            <span class="title">Total Volumes in Field</span>
          </div>
        </div>
        <div class="info-box col-md-6 volume-data-table">
          <div class="info-box-content">
            <table class="table">
              <thead>
                <td>View Plotted Data</td>
              </thead>
              <tbody>
                <tr>
                  <td>Min Volumes Per Cluster</td>
                  <td class="data-bold">{{ $ctrl.performData.volumes.min }}/{{ $ctrl.performData.volumes.unit }}</td>
                </tr>
                <tr>
                  <td>Max Volumes Per Cluster</td>
                  <td class="data-bold">{{ $ctrl.performData.volumes.max }}/{{ $ctrl.performData.volumes.unit }}</td>
                </tr>
                <tr>
                  <td>Avg Volumes Per Cluster</td>
                  <td class="data-bold">{{ $ctrl.performData.volumes.avg }}/{{ $ctrl.performData.volumes.unit }}</td>
                </tr>
                <tr>
                  <td>Standard Deviation</td>
                  <td class="data-bold">{{ $ctrl.performData.volumes.stdDev | percent:0:true:false:false }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="sf-widget volume-size-info-box">
      <div class="info-bar-timestamp volume-size-data-title">
        <span>Volume Size</span>
      </div>
      <div class="row dashberg-data-display">
        <div class="info-box col-md-6 volume-size-data-description">
          <div class="info-box-content dashberg-sum-data">
            <span class="value -medium">{{ $ctrl.performData.volumes.size.total | bytes:false:0:false:false }}</span>
            <span class="triangle-bottom-icon" ng-if="$ctrl.performData.volumes.size.changeRate < 0">&#9660; {{ $ctrl.performData.volumes.size.changeRate | abs | percent:1:true:false:false }} </span>
            <span class="triangle-top-icon" ng-if="$ctrl.performData.volumes.size.changeRate > 0">&#9650; {{ $ctrl.performData.volumes.size.changeRate | abs | percent:1:true:false:false }}</span>
            <span class="title">Current Average Volume Size</span>
          </div>
        </div>
        <div class="info-box col-md-6 volume-size-data-table">
          <div class="info-box-content">
            <table class="table">
              <thead>
                <td>View Plotted Data</td>
              </thead>
              <tbody>
                <tr>
                  <td>Min Volume Size Per Cluster</td>
                  <td class="data-bold">{{ $ctrl.performData.volumes.size.min | bytes:false:0:false:false }}/{{ $ctrl.performData.volumes.size.unit | bytes:false:0:false:false }}</td>
                </tr>
                <tr>
                  <td>Max Volume Size Per Cluster</td>
                  <td class="data-bold">{{ $ctrl.performData.volumes.size.max | bytes:false:0:false:false }}/{{ $ctrl.performData.volumes.size.unit | bytes:false:0:false:false }}</td>
                </tr>
                <tr>
                  <td>Avg Volume Size Per Cluster</td>
                  <td class="data-bold">{{ $ctrl.performData.volumes.size.avg | bytes:false:0:false:false }}/{{ $ctrl.performData.volumes.size.unit | bytes:false:0:false:false }}</td>
                </tr>
                <tr>
                  <td>Standard Deviation</td>
                  <td class="data-bold">{{ $ctrl.performData.volumes.size.stdDev | percent:0:true:false:false }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="sf-widget volume-access-info-box">
      <div class="info-bar-timestamp volume-access-data-title">
        <span>Volume Access Groups</span>
      </div>
      <div class="row dashberg-data-display">
        <div class="info-box col-md-6 volume-access-data-description">
          <div class="info-box-content dashberg-sum-data">
            <span class="value -medium">{{ $ctrl.performData.volumeAccessGroups.total }}</span>
            <span class="triangle-bottom-icon" ng-if="$ctrl.performData.volumeAccessGroups.changeRate < 0">&#9660; {{ $ctrl.performData.volumeAccessGroups.changeRate  | abs | percent:1:true:false:false }} </span>
            <span class="triangle-top-icon" ng-if="$ctrl.performData.volumeAccessGroups.changeRate > 0">&#9650; {{ $ctrl.performData.volumeAccessGroups.changeRate | abs | percent:1:true:false:false }}</span>
            <span class="title">Total Volume Access Groups in Field</span>
          </div>
        </div>
        <div class="info-box col-md-6 volume-access-data-table">
          <div class="info-box-content">
            <table class="table">
              <thead>
                <td>View Plotted Data</td>
              </thead>
              <tbody>
                <tr>
                  <td>Min Vags Per Cluster</td>
                  <td class="data-bold">{{ $ctrl.performData.volumeAccessGroups.min }}/{{ $ctrl.performData.volumeAccessGroups.unit }}</td>
                </tr>
                <tr>
                  <td>Max Vags Per Cluster</td>
                  <td class="data-bold">{{ $ctrl.performData.volumeAccessGroups.max }}/{{ $ctrl.performData.volumeAccessGroups.unit }}</td>
                </tr>
                <tr>
                  <td>Avg Vags Per Cluster</td>
                  <td class="data-bold">{{ $ctrl.performData.volumeAccessGroups.avg }}/{{ $ctrl.performData.volumeAccessGroups.unit }}</td>
                </tr>
                <tr>
                  <td>Standard Deviation</td>
                  <td class="data-bold">{{ $ctrl.performData.volumeAccessGroups.stdDev | percent:0:true:false:false }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="sf-widget IOP-info-box">
      <div class="info-bar-timestamp IOP-data-title">
        <span>Cluster IOPs</span>
      </div>
      <div class="row dashberg-data-display">
        <div class="info-box col-md-6 IOP-data-description">
          <div class="info-box-content dashberg-sum-data">
            <span class="value -medium">{{ $ctrl.performData.iops.total }}</span>
            <span class="triangle-bottom-icon" ng-if="$ctrl.performData.iops.changeRate < 0">&#9660; {{ $ctrl.performData.iops.changeRate | abs | percent:1:true:false:false }} </span>
            <span class="triangle-top-icon" ng-if="$ctrl.performData.iops.changeRate > 0">&#9650; {{ $ctrl.performData.iops.changeRate | abs | percent:1:true:false:false }}</span>
            <span class="title">Field Average: IOPs Per all clusters</span>
          </div>
        </div>
        <div class="info-box col-md-6 IOP-data-table">
          <div class="info-box-content">
            <table class="table">
              <thead>
                <td>View Plotted Data</td>
              </thead>
              <tbody>
                <tr>
                  <td>Min IOPs Per Cluster</td>
                  <td class="data-bold">{{ $ctrl.performData.iops.min }}/{{ $ctrl.performData.iops.unit }}</td>
                </tr>
                <tr>
                  <td>Max IOPs Per Cluster</td>
                  <td class="data-bold">{{ $ctrl.performData.iops.max }}/{{ $ctrl.performData.iops.unit }}</td>
                </tr>
                <tr>
                  <td>Avg IOPs Per Cluster</td>
                  <td class="data-bold">{{ $ctrl.performData.iops.avg }}/{{ $ctrl.performData.iops.unit }}</td>
                </tr>
                <tr>
                  <td>Standard Deviation</td>
                  <td class="data-bold">{{ $ctrl.performData.iops.stdDev | percent:0:true:false:false }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="sf-widget bandwidth-info-box">
      <div class="info-bar-timestamp bandwidth-data-title">
        <span>Cluster Bandwidth</span>
      </div>
      <div class="row dashberg-data-display">
        <div class="info-box col-md-6 bandwidth-data-description">
          <div class="info-box-content dashberg-sum-data">
            <span class="value -medium">{{ $ctrl.performData.bandwidth.total | bytes:false:0:true:false }}</span>
            <span class="triangle-bottom-icon" ng-if="$ctrl.performData.bandwidth.changeRate < 0">&#9660; {{ $ctrl.performData.bandwidth.changeRate | abs | percent:1:true:false:false }} </span>
            <span class="triangle-top-icon" ng-if="$ctrl.performData.bandwidth.changeRate > 0">&#9650; {{ $ctrl.performData.bandwidth.changeRate | abs | percent:1:true:false:false }}</span>
            <span class="title">Field Average: Bandwidth in Field</span>
          </div>
        </div>
        <div class="info-box col-md-6 bandwidth-data-table">
          <div class="info-box-content">
            <table class="table">
              <thead>
                <td>View Plotted Data</td>
              </thead>
              <tbody>
                <tr>
                  <td>Min Bandwidth Per Cluster</td>
                  <td class="data-bold">{{ $ctrl.performData.bandwidth.min | bytes:false:0:true:false }}/{{ $ctrl.performData.bandwidth.unit | bytes:false:0:true:false }}</td>
                </tr>
                <tr>
                  <td>Max Bandwidth Per Cluster</td>
                  <td class="data-bold">{{ $ctrl.performData.bandwidth.max | bytes:false:0:true:false }}/{{ $ctrl.performData.bandwidth.unit | bytes:false:0:true:false }}</td>
                </tr>
                <tr>
                  <td>Avg Bandwidth Per Cluster</td>
                  <td class="data-bold">{{ $ctrl.performData.bandwidth.avg | bytes:false:0:true:false }}/{{ $ctrl.performData.bandwidth.unit | bytes:false:0:true:false }}</td>
                </tr>
                <tr>
                  <td>Standard Deviation</td>
                  <td class="data-bold">{{ $ctrl.performData.bandwidth.stdDev | percent:0:true:false:false }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="sf-widget session-info-box">
      <div class="info-bar-timestamp session-data-title">
        <span>iSCSI Sessions</span>
      </div>
      <div class="row dashberg-data-display">
        <div class="info-box col-md-6 session-data-description">
          <div class="info-box-content dashberg-sum-data">
            <span class="value -medium">{{ $ctrl.performData.sessions.iscsi.total }}</span>
            <span class="triangle-bottom-icon" ng-if="$ctrl.performData.sessions.iscsi.changeRate < 0">&#9660; {{ $ctrl.performData.sessions.iscsi.changeRate | abs | percent:1:true:false:false }} </span>
            <span class="triangle-top-icon" ng-if="$ctrl.performData.sessions.iscsi.changeRate > 0">&#9650; {{ $ctrl.performData.sessions.iscsi.changeRate | abs | percent:1:true:false:false }}</span>
            <span class="title">iSCSI Sessions per Node</span>
          </div>
        </div>
        <div class="info-box col-md-6 session-data-table">
          <div class="info-box-content">
            <table class="table">
              <thead>
                <td>View Plotted Data</td>
              </thead>
              <tbody>
                <tr>
                  <td>Min iSCSI Sessions Per Cluster</td>
                  <td class="data-bold">{{ $ctrl.performData.sessions.iscsi.min }}/{{ $ctrl.performData.sessions.iscsi.unit }}</td>
                </tr>
                <tr>
                  <td>Max iSCSI Sessions Per Cluster</td>
                  <td class="data-bold">{{ $ctrl.performData.sessions.iscsi.max }}/{{ $ctrl.performData.sessions.iscsi.unit }}</td>
                </tr>
                <tr>
                  <td>Avg iSCSI Sessions Per Cluster</td>
                  <td class="data-bold">{{ $ctrl.performData.sessions.iscsi.avg }}/{{ $ctrl.performData.sessions.iscsi.unit }}</td>
                </tr>
                <tr>
                  <td>Standard Deviation</td>
                  <td class="data-bold">{{ $ctrl.performData.sessions.iscsi.stdDev | percent:0:true:false:false }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="sf-widget snapshot-info-box">
      <div class="info-bar-timestamp snapshot-data-title">
        <span>Total Snapshots</span>
      </div>
      <div class="row dashberg-data-display">
        <div class="info-box col-md-6 snapshot-data-description">
          <div class="info-box-content dashberg-sum-data">
            <span class="value -medium">{{ $ctrl.performData.snapshots.total }}</span>
            <span class="triangle-bottom-icon" ng-if="$ctrl.performData.snapshots.changeRate < 0">&#9660; {{ $ctrl.performData.snapshots.changeRate | abs | percent:1:true:false:false }} </span>
            <span class="triangle-top-icon" ng-if="$ctrl.performData.snapshots.changeRate > 0">&#9650; {{ $ctrl.performData.snapshots.changeRate | abs | percent:1:true:false:false }}</span>
            <span class="title">Field Average: Snapshots per Volume</span>
          </div>
        </div>
        <div class="info-box col-md-6 snapshot-data-table">
          <div class="info-box-content">
            <table class="table">
              <thead>
                <td>View Plotted Data</td>
              </thead>
              <tbody>
                <tr>
                  <td>Min Snapshots Per Cluster</td>
                  <td class="data-bold">{{ $ctrl.performData.snapshots.min }}/{{ $ctrl.performData.snapshots.unit }}</td>
                </tr>
                <tr>
                  <td>Max Snapshots Per Cluster</td>
                  <td class="data-bold">{{ $ctrl.performData.snapshots.max }}/{{ $ctrl.performData.snapshots.unit }}</td>
                </tr>
                <tr>
                  <td>Avg Snapshots Per Cluster</td>
                  <td class="data-bold">{{ $ctrl.performData.snapshots.avg }}/{{ $ctrl.performData.snapshots.unit }}</td>
                </tr>
                <tr>
                  <td>Standard Deviation</td>
                  <td class="data-bold">{{ $ctrl.performData.snapshots.stdDev | percent:0:true:false:false }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>