@import '../../../styles/shared.less';

.dashberg-page {
  overflow-y: scroll;
  height: 100%;
}

.dashberg-sum-data {
  padding: 30px;
}

.data-bold {
  font-weight: bold;
}

.dashberg-title {
  font-size: 115%;
}

.dashberg-data-display {
  margin: 0px;
}

.dashberg-sum-data {
  text-align: center;
}

.info-box-margin {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.table > tbody > tr:first-child > td {
    border: none;
}

.table {
  margin-bottom: 0;
}