<div class="dashberg-page">
  <div class="container-fluid">

    <div class="sf-widget node-info-box">
      <div class="info-bar-timestamp">
        <span>Nodes in Clusters</span>
        <div class="info-bar-refresh-button">
          <label class="switch">
            <input type="checkbox" ng-model="checkboxNodeModel">
            <div class="slider round"></div>
          </label>
        </div>
      </div>
      <div class="row dashberg-sum-data">
        <div class="info-box col-md-6 col-xs-12 col-sm-12">
          <div class="info-box-content">
            <span class="value -medium">{{ $ctrl.nodeData.totalNodes }}</span>
            <span class="triangle-bottom-icon" ng-if="$ctrl.nodeData.changeRate < 0">&#9660; {{ $ctrl.nodeData.changeRate | abs | percent:1:true:false:false }} </span>
            <span class="triangle-top-icon" ng-if="$ctrl.nodeData.changeRate > 0">&#9650; {{ $ctrl.nodeData.changeRate | abs | percent:1:true:false:false }}</span>
            <span class="title">Total Nodes in Field</span>
          </div>
        </div>
        <div class="info-box col-md-6 col-xs-12 col-sm-12">
          <div class="info-box-content">
            <table class="table">
              <thead>
                <td>View Plotted Data</td>
              </thead>
              <tbody ng-if="!checkboxNodeModel">
                <tr>
                  <td>Min Nodes Per Cluster</td>
                  <td class="data-bold">{{ $ctrl.nodeData.minNodesCluster }}/{{ $ctrl.nodeData.unitNodesCluster }}</td>
                </tr>
                <tr>
                  <td>Max Nodes Per Cluster</td>
                  <td class="data-bold">{{ $ctrl.nodeData.maxNodesCluster }}/{{ $ctrl.nodeData.unitNodesCluster }}</td>
                </tr>
                <tr>
                  <td>Avg Nodes Per Cluster</td>
                  <td class="data-bold">{{ $ctrl.nodeData.avgNodesCluster }}/{{ $ctrl.nodeData.unitNodesCluster }}</td>
                </tr>
                <tr>
                  <td>Standard Deviation</td>
                  <td class="data-bold">{{ $ctrl.nodeData.stdDevCluster | percent:0:true:false:false  }}</td>
                </tr>
              </tbody>
              <tbody ng-if="checkboxNodeModel">
                <tr>
                  <td>Min Nodes Per Node</td>
                  <td class="data-bold">{{ $ctrl.nodeData.minNodesNode }}/{{ $ctrl.nodeData.unitNodesNode }}</td>
                </tr>
                <tr>
                  <td>Max Nodes Per Node</td>
                  <td class="data-bold">{{ $ctrl.nodeData.maxNodesNode }}/{{ $ctrl.nodeData.unitNodesNode }}</td>
                </tr>
                <tr>
                  <td>Avg Nodes Per Node</td>
                  <td class="data-bold">{{ $ctrl.nodeData.avgNodesNode }}/{{ $ctrl.nodeData.unitNodesNode }}</td>
                </tr>
                <tr>
                  <td>Standard Deviation</td>
                  <td class="data-bold">{{ $ctrl.nodeData.stdDevNode | percent:0:true:false:false }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="sf-widget volume-info-box">
      <div class="info-bar-timestamp">
        <span>Volumes in Clusters</span>
        <div class="info-bar-refresh-button">
          <label class="switch">
            <input type="checkbox" ng-model="checkboxVolumeModel">
            <div class="slider round"></div>
          </label>
        </div>
      </div>
      <div class="row dashberg-sum-data">
        <div class="info-box col-md-6 col-xs-12 col-sm-12">
          <div class="info-box-content">
            <span class="value -medium">{{ $ctrl.volumeData.totalVolumes }}</span>
            <span class="triangle-bottom-icon" ng-if="$ctrl.volumeData.changeRate < 0">&#9660; {{ $ctrl.volumeData.changeRate | abs | percent:1:true:false:false }} </span>
            <span class="triangle-top-icon" ng-if="$ctrl.volumeData.changeRate > 0">&#9650; {{ $ctrl.volumeData.changeRate | abs | percent:1:true:false:false }}</span>
            <span class="title">Total Volumes in Field</span>
          </div>
        </div>
        <div class="info-box col-md-6 col-xs-12 col-sm-12">
          <div class="info-box-content">
            <table class="table">
              <thead>
                <td>View Plotted Data</td>
              </thead>
              <tbody ng-if="!checkboxVolumeModel">
                <tr>
                  <td>Min Volumes Per Cluster</td>
                  <td class="data-bold">{{ $ctrl.volumeData.minVolumesCluster }}/{{ $ctrl.volumeData.unitVolumesCluster }}</td>
                </tr>
                <tr>
                  <td>Max Volumes Per Cluster</td>
                  <td class="data-bold">{{ $ctrl.volumeData.maxVolumesCluster }}/{{ $ctrl.volumeData.unitVolumesCluster }}</td>
                </tr>
                <tr>
                  <td>Avg Volumes Per Cluster</td>
                  <td class="data-bold">{{ $ctrl.volumeData.avgVolumesCluster }}/{{ $ctrl.volumeData.unitVolumesCluster }}</td>
                </tr>
                <tr>
                  <td>Standard Deviation</td>
                  <td class="data-bold">{{ $ctrl.volumeData.stdDevCluster | percent:0:true:false:false }}</td>
                </tr>
              </tbody>
              <tbody ng-if="checkboxVolumeModel">
                <tr>
                  <td>Min Volumes Per Node</td>
                  <td class="data-bold">{{ $ctrl.volumeData.minVolumesNode }}/{{ $ctrl.volumeData.unitVolumesNode }}</td>
                </tr>
                <tr>
                  <td>Max Volumes Per Node</td>
                  <td class="data-bold">{{ $ctrl.volumeData.maxVolumesNode }}/{{ $ctrl.volumeData.unitVolumesNode }}</td>
                </tr>
                <tr>
                  <td>Avg Volumes Per Node</td>
                  <td class="data-bold">{{ $ctrl.volumeData.avgVolumesNode }}/{{ $ctrl.volumeData.unitVolumesNode }}</td>
                </tr>
                <tr>
                  <td>Standard Deviation</td>
                  <td class="data-bold">{{ $ctrl.volumeData.stdDevNode | percent:0:true:false:false }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="sf-widget volume-size-info-box">
      <div class="info-bar-timestamp">
        <span>Volume Size</span>
        <div class="info-bar-refresh-button">
          <label class="switch">
            <input type="checkbox" ng-model="checkboxVolumeSizeModel">
            <div class="slider round"></div>
          </label>
        </div>
      </div>
      <div class="row dashberg-sum-data">
        <div class="info-box col-md-6 col-sm-12">
          <div class="info-box-content">
            <span class="value -medium">{{ $ctrl.volumeSizeData.totalVolumeSize | bytes:false:0:false:false }}</span>
            <span class="triangle-bottom-icon" ng-if="$ctrl.volumeSizeData.changeRate < 0">&#9660; {{ $ctrl.volumeSizeData.changeRate | abs | percent:1:true:false:false }} </span>
            <span class="triangle-top-icon" ng-if="$ctrl.volumeSizeData.changeRate > 0">&#9650; {{ $ctrl.volumeSizeData.changeRate | abs | percent:1:true:false:false }}</span>
            <span class="title">Current Average Volume Size</span>
          </div>
        </div>
        <div class="info-box col-md-6 col-xs-12 col-sm-12">
          <div class="info-box-content">
            <table class="table">
              <thead>
                <td>View Plotted Data</td>
              </thead>
              <tbody ng-if="!checkboxVolumeSizeModel">
                <tr>
                  <td>Min Volume Size Per Cluster</td>
                  <td class="data-bold">{{ $ctrl.volumeSizeData.minVolumeSizeCluster | bytes:false:0:false:false }}/{{ $ctrl.volumeSizeData.unitVolumeSizeCluster | bytes:false:0:false:false }}</td>
                </tr>
                <tr>
                  <td>Max Volume Size Per Cluster</td>
                  <td class="data-bold">{{ $ctrl.volumeSizeData.maxVolumeSizeCluster | bytes:false:0:false:false }}/{{ $ctrl.volumeSizeData.unitVolumeSizeCluster | bytes:false:0:false:false }}</td>
                </tr>
                <tr>
                  <td>Avg Volume Size Per Cluster</td>
                  <td class="data-bold">{{ $ctrl.volumeSizeData.avgVolumeSizeCluster | bytes:false:0:false:false }}/{{ $ctrl.volumeSizeData.unitVolumeSizeCluster| bytes:false:0:false:false }}</td>
                </tr>
                <tr>
                  <td>Standard Deviation</td>
                  <td class="data-bold">{{ $ctrl.volumeSizeData.stdDevCluster | percent:0:true:false:false }}</td>
                </tr>
              </tbody>
              <tbody ng-if="checkboxVolumeSizeModel">
                <tr>
                  <td>Min Volume Size Per Node</td>
                  <td class="data-bold">{{ $ctrl.volumeSizeData.minVolumeSizeNode | bytes:false:0:false:false }}/{{ $ctrl.volumeSizeData.unitVolumeSizeNode | bytes:false:0:false:false }}</td>
                </tr>
                <tr>
                  <td>Max Volume Size Per Node</td>
                  <td class="data-bold">{{ $ctrl.volumeSizeData.maxVolumeSizeNode | bytes:false:0:false:false }}/{{ $ctrl.volumeSizeData.unitVolumeSizeNode | bytes:false:0:false:false }}</td>
                </tr>
                <tr>
                  <td>Avg Volume Size Per Node</td>
                  <td class="data-bold">{{ $ctrl.volumeSizeData.avgVolumeSizeNode | bytes:false:0:false:false }}/{{ $ctrl.volumeSizeData.unitVolumeSizeNode | bytes:false:0:false:false }}</td>
                </tr>
                <tr>
                  <td>Standard Deviation</td>
                  <td class="data-bold">{{ $ctrl.volumeSizeData.stdDevNode | percent:0:true:false:false }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="sf-widget volume-access-info-box">
      <div class="info-bar-timestamp">
        <span>Volume Access Groups</span>
        <div class="info-bar-refresh-button">
          <label class="switch">
            <input type="checkbox" ng-model="checkboxVolumeAccessModel">
            <div class="slider round"></div>
          </label>
        </div>
      </div>
      <div class="row dashberg-sum-data">
        <div class="info-box col-md-6 col-xs-12 col-sm-12">
          <div class="info-box-content">
            <span class="value -medium">{{ $ctrl.volumeAccessData.totalVolumeAccess }}</span>
            <span class="triangle-bottom-icon" ng-if="$ctrl.volumeAccessData.changeRate < 0">&#9660; {{ $ctrl.volumeAccessData.changeRate  | abs | percent:1:true:false:false }} </span>
            <span class="triangle-top-icon" ng-if="$ctrl.volumeAccessData.changeRate > 0">&#9650; {{ $ctrl.volumeAccessData.changeRate | abs | percent:1:true:false:false }}</span>
            <span class="title">Total Volume Access Groups in Field</span>
          </div>
        </div>
        <div class="info-box col-md-6 col-xs-12 col-sm-12">
          <div class="info-box-content">
            <table class="table">
              <thead>
                <td>View Plotted Data</td>
              </thead>
              <tbody ng-if="!checkboxVolumeAccessModel">
                <tr>
                  <td>Min Vags Per Cluster</td>
                  <td class="data-bold">{{ $ctrl.volumeAccessData.minVolumeAccessCluster }}/{{ $ctrl.volumeAccessData.unitVolumeAccessCluster }}</td>
                </tr>
                <tr>
                  <td>Max Vags Per Cluster</td>
                  <td class="data-bold">{{ $ctrl.volumeAccessData.maxVolumeAccessCluster }}/{{ $ctrl.volumeAccessData.unitVolumeAccessCluster }}</td>
                </tr>
                <tr>
                  <td>Avg Vags Per Cluster</td>
                  <td class="data-bold">{{ $ctrl.volumeAccessData.avgVolumeAccessCluster }}/{{ $ctrl.volumeAccessData.unitVolumeAccessCluster }}</td>
                </tr>
                <tr>
                  <td>Standard Deviation</td>
                  <td class="data-bold">{{ $ctrl.volumeAccessData.stdDevCluster | percent:0:true:false:false }}</td>
                </tr>
              </tbody>
              <tbody ng-if="checkboxVolumeAccessModel">
                <tr>
                  <td>Min Vags Per Node</td>
                  <td class="data-bold">{{ $ctrl.volumeAccessData.minVolumeAccessNode }}/{{ $ctrl.volumeAccessData.unitVolumeAccessNode }}</td>
                </tr>
                <tr>
                  <td>Max Vags Per Node</td>
                  <td class="data-bold">{{ $ctrl.volumeAccessData.maxVolumeAccessNode }}/{{ $ctrl.volumeAccessData.unitVolumeAccessNode }}</td>
                </tr>
                <tr>
                  <td>Avg Vags Per Node</td>
                  <td class="data-bold">{{ $ctrl.volumeAccessData.avgVolumeAccessNode }}/{{ $ctrl.volumeAccessData.unitVolumeAccessNode }}</td>
                </tr>
                <tr>
                  <td>Standard Deviation</td>
                  <td class="data-bold">{{ $ctrl.volumeAccessData.stdDevNode | percent:0:true:false:false }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="sf-widget IOP-info-box">
      <div class="info-bar-timestamp">
        <span>Cluster IOPs</span>
        <div class="info-bar-refresh-button">
          <label class="switch">
            <input type="checkbox" ng-model="checkboxIOPModel">
            <div class="slider round"></div>
          </label>
        </div>
      </div>
      <div class="row dashberg-sum-data">
        <div class="info-box col-md-6 col-xs-12 col-sm-12">
          <div class="info-box-content">
            <span class="value -medium">{{ $ctrl.IOPData.totalIOPs }}</span>
            <span class="triangle-bottom-icon" ng-if="$ctrl.IOPData.changeRate < 0">&#9660; {{ $ctrl.IOPData.changeRate | abs | percent:1:true:false:false }} </span>
            <span class="triangle-top-icon" ng-if="$ctrl.IOPData.changeRate > 0">&#9650; {{ $ctrl.IOPData.changeRate | abs | percent:1:true:false:false }}</span>
            <span class="title">Field Average: IOPs Per all clusters</span>
          </div>
        </div>
        <div class="info-box col-md-6 col-xs-12 col-sm-12">
          <div class="info-box-content">
            <table class="table">
              <thead>
                <td>View Plotted Data</td>
              </thead>
              <tbody ng-if="!checkboxIOPModel">
                <tr>
                  <td>Min IOPs Per Cluster</td>
                  <td class="data-bold">{{ $ctrl.IOPData.minIOPsCluster }}/{{ $ctrl.IOPData.unitIOPsCluster }}</td>
                </tr>
                <tr>
                  <td>Max IOPs Per Cluster</td>
                  <td class="data-bold">{{ $ctrl.IOPData.maxIOPsCluster }}/{{ $ctrl.IOPData.unitIOPsCluster }}</td>
                </tr>
                <tr>
                  <td>Avg IOPs Per Cluster</td>
                  <td class="data-bold">{{ $ctrl.IOPData.avgIOPsCluster }}/{{ $ctrl.IOPData.unitIOPsCluster }}</td>
                </tr>
                <tr>
                  <td>Standard Deviation</td>
                  <td class="data-bold">{{ $ctrl.IOPData.stdDevCluster | percent:0:true:false:false }}</td>
                </tr>
              </tbody>
              <tbody ng-if="checkboxIOPModel">
                <tr>
                  <td>Min IOPs Per Node</td>
                  <td class="data-bold">{{ $ctrl.IOPData.minIOPsNode }}/{{ $ctrl.IOPData.unitIOPsNode }}</td>
                </tr>
                <tr>
                  <td>Max IOPs Per Node</td>
                  <td class="data-bold">{{ $ctrl.IOPData.maxIOPsNode }}/{{ $ctrl.IOPData.unitIOPsNode }}</td>
                </tr>
                <tr>
                  <td>Avg IOPs Per Node</td>
                  <td class="data-bold">{{ $ctrl.IOPData.avgIOPsNode }}/{{ $ctrl.IOPData.unitIOPsNode }}</td>
                </tr>
                <tr>
                  <td>Standard Deviation</td>
                  <td class="data-bold">{{ $ctrl.IOPData.stdDevNode | percent:0:true:false:false }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="sf-widget bandwidth-info-box">
      <div class="info-bar-timestamp">
        <span>Cluster Bandwidth</span>
        <div class="info-bar-refresh-button">
          <label class="switch">
            <input type="checkbox" ng-model="checkboxBandwidthModel">
            <div class="slider round"></div>
          </label>
        </div>
      </div>
      <div class="row dashberg-sum-data">
        <div class="info-box col-md-6 col-xs-12 col-sm-12">
          <div class="info-box-content">
            <span class="value -medium">{{ $ctrl.bandwidthData.totalBandwidth | bytes:false:0:true:false }}</span>
            <span class="triangle-bottom-icon" ng-if="$ctrl.bandwidthData.changeRate < 0">&#9660; {{ $ctrl.bandwidthData.changeRate | abs | percent:1:true:false:false }} </span>
            <span class="triangle-top-icon" ng-if="$ctrl.bandwidthData.changeRate > 0">&#9650; {{ $ctrl.bandwidthData.changeRate | abs | percent:1:true:false:false }}</span>
            <span class="title">Field Average: Bandwidth in Field</span>
          </div>
        </div>
        <div class="info-box col-md-6 col-xs-12 col-sm-12">
          <div class="info-box-content">
            <table class="table">
              <thead>
                <td>View Plotted Data</td>
              </thead>
              <tbody ng-if="!checkboxBandwidthModel">
                <tr>
                  <td>Min Bandwidth Per Cluster</td>
                  <td class="data-bold">{{ $ctrl.bandwidthData.minBandwidthCluster | bytes:false:0:true:false }}/{{ $ctrl.bandwidthData.unitBandwidthCluster | bytes:false:0:true:false }}</td>
                </tr>
                <tr>
                  <td>Max Bandwidth Per Cluster</td>
                  <td class="data-bold">{{ $ctrl.bandwidthData.maxBandwidthCluster | bytes:false:0:true:false }}/{{ $ctrl.bandwidthData.unitBandwidthCluster | bytes:false:0:true:false }}</td>
                </tr>
                <tr>
                  <td>Avg Bandwidth Per Cluster</td>
                  <td class="data-bold">{{ $ctrl.bandwidthData.avgBandwidthCluster | bytes:false:0:true:false }}/{{ $ctrl.bandwidthData.unitBandwidthCluster | bytes:false:0:true:false }}</td>
                </tr>
                <tr>
                  <td>Standard Deviation</td>
                  <td class="data-bold">{{ $ctrl.bandwidthData.stdDevCluster | percent:0:true:false:false }}</td>
                </tr>
              </tbody>
              <tbody ng-if="checkboxBandwidthModel">
                <tr>
                  <td>Min Bandwidth Per Node</td>
                  <td class="data-bold">{{ $ctrl.bandwidthData.minBandwidthNode | bytes:false:0:true:false }}/{{ $ctrl.bandwidthData.unitBandwidthNode | bytes:false:0:true:false }}</td>
                </tr>
                <tr>
                  <td>Max Bandwidth Per Node</td>
                  <td class="data-bold">{{ $ctrl.bandwidthData.maxBandwidthNode | bytes:false:0:true:false }}/{{ $ctrl.bandwidthData.unitBandwidthNode | bytes:false:0:true:false }}</td>
                </tr>
                <tr>
                  <td>Avg Bandwidth Per Node</td>
                  <td class="data-bold">{{ $ctrl.bandwidthData.avgBandwidthNode | bytes:false:0:true:false }}/{{ $ctrl.bandwidthData.unitBandwidthNode | bytes:false:0:true:false }}</td>
                </tr>
                <tr>
                  <td>Standard Deviation</td>
                  <td class="data-bold">{{ $ctrl.bandwidthData.stdDevNode | percent:0:true:false:false }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="sf-widget session-info-box">
      <div class="info-bar-timestamp">
        <span>iSCSI Sessions</span>
        <div class="info-bar-refresh-button">
          <label class="switch">
            <input type="checkbox" ng-model="checkboxiSCSIModel">
            <div class="slider round"></div>
          </label>
        </div>
      </div>
      <div class="row dashberg-sum-data">
        <div class="info-box col-md-6 col-xs-12 col-sm-12">
          <div class="info-box-content">
            <span class="value -medium">{{ $ctrl.sessionData.totalSessions }}</span>
            <span class="triangle-bottom-icon" ng-if="$ctrl.sessionData.changeRate < 0">&#9660; {{ $ctrl.sessionData.changeRate | abs | percent:1:true:false:false }} </span>
            <span class="triangle-top-icon" ng-if="$ctrl.sessionData.changeRate > 0">&#9650; {{ $ctrl.sessionData.changeRate | abs | percent:1:true:false:false }}</span>
            <span class="title">iSCSI Sessions per Node</span>
          </div>
        </div>
        <div class="info-box col-md-6 col-xs-12 col-sm-12">
          <div class="info-box-content">
            <table class="table">
              <thead>
                <td>View Plotted Data</td>
              </thead>
              <tbody ng-if="!checkboxiSCSIModel">
                <tr>
                  <td>Min iSCSI Sessions Per Cluster</td>
                  <td class="data-bold">{{ $ctrl.sessionData.minSessionsCluster }}/{{ $ctrl.sessionData.unitSessionsCluster }}</td>
                </tr>
                <tr>
                  <td>Max iSCSI Sessions Per Cluster</td>
                  <td class="data-bold">{{ $ctrl.sessionData.maxSessionsCluster }}/{{ $ctrl.sessionData.unitSessionsCluster }}</td>
                </tr>
                <tr>
                  <td>Avg iSCSI Sessions Per Cluster</td>
                  <td class="data-bold">{{ $ctrl.sessionData.avgSessionsCluster }}/{{ $ctrl.sessionData.unitSessionsCluster }}</td>
                </tr>
                <tr>
                  <td>Avg iSCSI Sessions Per 5 Node Cluster</td>
                  <td class="data-bold">{{ $ctrl.sessionData.avgSessionNodeCluster }}/{{ $ctrl.sessionData.unitSessionNodeCluster }}</td>
                </tr>
                <tr>
                  <td>Standard Deviation</td>
                  <td class="data-bold">{{ $ctrl.sessionData.stdDevCluster | percent:0:true:false:false }}</td>
                </tr>
              </tbody>
              <tbody ng-if="checkboxiSCSIModel">
                <tr>
                  <td>Min iSCSI Sessions Per Node</td>
                  <td class="data-bold">{{ $ctrl.sessionData.minSessionsNode }}/{{ $ctrl.sessionData.unitSessionsNode }}</td>
                </tr>
                <tr>
                  <td>Max iSCSI Sessions Per Node</td>
                  <td class="data-bold">{{ $ctrl.sessionData.maxSessionsNode }}/{{ $ctrl.sessionData.unitSessionsNode }}</td>
                </tr>
                <tr>
                  <td>Avg iSCSI Sessions Per Node</td>
                  <td class="data-bold">{{ $ctrl.sessionData.avgSessionsNode }}/{{ $ctrl.sessionData.unitSessionsNode }}</td>
                </tr>
                <tr>
                  <td>Avg iSCSI Sessions Per 5 Node Cluster</td>
                  <td class="data-bold">{{ $ctrl.sessionData.avgSessionNodeCluster }}/{{ $ctrl.sessionData.unitSessionNodeCluster }}</td>
                </tr>
                <tr>
                  <td>Standard Deviation</td>
                  <td class="data-bold">{{ $ctrl.sessionData.stdDevNode | percent:0:true:false:false }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="sf-widget snapshot-info-box">
      <div class="info-bar-timestamp">
        <span>Total Snapshots</span>
        <div class="info-bar-refresh-button">
          <label class="switch">
            <input type="checkbox" ng-model="checkboxSnapshotModel">
            <div class="slider round"></div>
          </label>
        </div>
      </div>
      <div class="row dashberg-sum-data">
        <div class="info-box col-md-6 col-xs-12 col-sm-12">
          <div class="info-box-content">
            <span class="value -medium">{{ $ctrl.snapshotData.totalSnapshots }}</span>
            <span class="triangle-bottom-icon" ng-if="$ctrl.snapshotData.changeRate < 0">&#9660; {{ $ctrl.snapshotData.changeRate | abs | percent:1:true:false:false }} </span>
            <span class="triangle-top-icon" ng-if="$ctrl.snapshotData.changeRate > 0">&#9650; {{ $ctrl.snapshotData.changeRate | abs | percent:1:true:false:false }}</span>
            <span class="title">Field Average: Snapshots per Volume</span>
          </div>
        </div>
        <div class="info-box col-md-6 col-xs-12 col-sm-12">
          <div class="info-box-content">
            <table class="table">
              <thead>
                <td>View Plotted Data</td>
              </thead>
              <tbody ng-if="!checkboxSnapshotModel">
                <tr>
                  <td>Min Snapshots Per Cluster</td>
                  <td class="data-bold">{{ $ctrl.snapshotData.minSnapshotsCluster }}/{{ $ctrl.snapshotData.unitSnapshotsCluster }}</td>
                </tr>
                <tr>
                  <td>Max Snapshots Per Cluster</td>
                  <td class="data-bold">{{ $ctrl.snapshotData.maxSnapshotsCluster }}/{{ $ctrl.snapshotData.unitSnapshotsCluster }}</td>
                </tr>
                <tr>
                  <td>Avg Snapshots Per Cluster</td>
                  <td class="data-bold">{{ $ctrl.snapshotData.avgSnapshotsCluster }}/{{ $ctrl.snapshotData.unitSnapshotsCluster }}</td>
                </tr>
                <tr>
                  <td>Standard Deviation</td>
                  <td class="data-bold">{{ $ctrl.snapshotData.stdDevCluster | percent:0:true:false:false }}</td>
                </tr>
              </tbody>
              <tbody ng-if="checkboxSnapshotModel">
                <tr>
                  <td>Min Snapshots Per Volume</td>
                  <td class="data-bold">{{ $ctrl.snapshotData.minSnapshotsVolume }}/{{ $ctrl.snapshotData.unitSnapshotsVolume }}</td>
                </tr>
                <tr>
                  <td>Max Snapshots Per Volume</td>
                  <td class="data-bold">{{ $ctrl.snapshotData.maxSnapshotsVolume }}/{{ $ctrl.snapshotData.unitSnapshotsVolume }}</td>
                </tr>
                <tr>
                  <td>Avg Snapshots Per Volume</td>
                  <td class="data-bold">{{ $ctrl.snapshotData.avgSnapshotsVolume }}/{{ $ctrl.snapshotData.unitSnapshotsVolume }}</td>
                </tr>
                <tr>
                  <td>Standard Deviation</td>
                  <td class="data-bold">{{ $ctrl.snapshotData.stdDevVolume | percent:0:true:false:false }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>