@import '../../../styles/shared.less';

.dashberg-page {
  overflow-y: scroll;
  height: 100%;
}

.dashberg-sum-data {
  display:flex;
  display:-webkit-flex;
  align-items:center;
}

.triangle-bottom-icon {
  color: red;
}

.triangle-top-icon {
  color: green;
}

.data-bold {
  font-weight: bold;
}

.dashberg-title {
  font-size: 115%;
}