<div class="reset-password-page">
  <div class="reset-password-container">
    <img class="netapp-logo" src="images/na_logo_hrz_1c-rev_rgb_lrg.png">

    <form class="reset-password-form"
        name="$ctrl.sendResetEmailForm"
        ng-hide="$ctrl.username"
        ng-submit="$ctrl.requestPasswordReset()" novalidate>

      <div class="reset-password-label" ng-hide="$ctrl.emailSent">
        Forget your password?
      </div>
      <div class="reset-password-note" ng-hide="$ctrl.emailSent">
        Enter the email address associated with your account to receive an email with
        instructions on how to reset your password.
      </div>

      <div id="password-reset-email-sent-message" class="reset-password-label" ng-show="$ctrl.emailSent">
        Password Reset Email Sent
      </div>
      <div class="reset-password-note" ng-show="$ctrl.emailSent">
        An email containing the link to reset your password has been sent. If you don't see it,
        be sure to check your spam folder.
      </div>

      <div class="form-group">
        <input type="text" id="email-input"
            name="email"
            class="form-control"
            placeholder="Account Email Address"
            required
            ng-pattern="'.+@.+\\..+'"
            ng-model="$ctrl.email">
      </div>

      <span id="password-reset-email-error-message"
        class="pull-left reset-password-error error-message"
        ng-bind="$ctrl.error">
      </span>

      <span id="invalid-email-error" class="pull-left reset-password-error error-message"
          ng-show="$ctrl.sendResetEmailForm.email.$dirty && $ctrl.sendResetEmailForm.email.$invalid">
        Enter a valid email address.
      </span>

      <button id="send-email-button"
          ng-disabled="$ctrl.sendResetEmailForm.$invalid"
          class="pull-right reset-password-btn button"
          type="submit">
        {{ $ctrl.emailSent ? 'Resend Email' : 'Send Email' }}
      </button>

      <div style="clear:both"></div>
    </form>

    <form class="reset-password-form"
        name="$ctrl.newPasswordForm"
        ng-show="$ctrl.username"
        ng-submit="$ctrl.setNewPassword()" novalidate>

      <div ng-hide="$ctrl.resetComplete" class="reset-password-label">
        Password Reset
      </div>
      <div id="set-new-password-username-note" ng-hide="$ctrl.resetComplete" class="reset-password-note">
        Create a new password for the user name {{ $ctrl.username }}
      </div>

      <div id="set-new-password-success-message" ng-show="$ctrl.resetComplete" class="reset-password-label">
        Your Password Has Been Reset
      </div>
      <div ng-show="$ctrl.resetComplete" class="reset-password-note">
        The password for the user name {{ $ctrl.username }} has been reset.
      </div>

      <a ng-show="$ctrl.resetComplete" href="#/login" class="sf-link">Return to the Active IQ Sign in page.</a>

      <div ng-hide="$ctrl.resetComplete" class="form-group">
        <div class="control-container">
          <input type="password"
              class="form-control"
              name="newPassword"
              placeholder="New Password"
              ng-model="$ctrl.newPassword"
              autocomplete="new-password"
              ng-minlength="12"
              ng-maxlength="30"
              validate-contains="{
                'Uppercase': '[A-Z]',
                'Number': '\\d',
              }"
              required>

          <div id="new-password-required-error"
              class="validation-help"
              ng-show="$ctrl.newPasswordForm.newPassword.$touched
                && $ctrl.newPasswordForm.newPassword.$error.required">
            New password is required.
          </div>
          <div id="new-password-min-length-error"
              class="validation-help"
              ng-show="$ctrl.newPasswordForm.newPassword.$touched
                && !$ctrl.newPasswordForm.newPassword.$error.required
                && $ctrl.newPasswordForm.newPassword.$error.minlength">
            Password must be at least 12 characters long.
          </div>
          <div id="new-password-max-length-error"
              class="validation-help"
              ng-show="$ctrl.newPasswordForm.newPassword.$touched
                && !$ctrl.newPasswordForm.newPassword.$error.required
                && $ctrl.newPasswordForm.newPassword.$error.maxlength">
            Password must be at most 30 characters long.
          </div>
          <div id="new-password-upper-case-error"
              class="validation-help"
              ng-show="$ctrl.newPasswordForm.newPassword.$touched
                && !$ctrl.newPasswordForm.newPassword.$error.required
                && $ctrl.newPasswordForm.newPassword.$error.containsUppercase">
            Password must contain at least one uppercase letter.
          </div>
          <div id="new-password-number-error"
              class="validation-help"
              ng-show="$ctrl.newPasswordForm.newPassword.$touched
                && !$ctrl.newPasswordForm.newPassword.$error.required
                && $ctrl.newPasswordForm.newPassword.$error.containsNumber">
            Password must contain at least one number.
          </div>
        </div>
      </div>

      <div ng-hide="$ctrl.resetComplete" class="form-group">
        <div class="control-container">
          <input type="password"
              class="form-control"
              name="reenterNewPassword"
              placeholder="Re-enter New Password"
              ng-model="$ctrl.reenterNewPassword"
              autocomplete="new-password"
              validate-equals="$ctrl.newPasswordForm.newPassword"
              required>

          <div id="reenter-new-password-match-error"
              class="validation-help"
              ng-show="$ctrl.newPasswordForm.reenterNewPassword.$touched
                && $ctrl.newPasswordForm.reenterNewPassword.$error.equals">
            The passwords entered do not match. Please correct your entries.
          </div>
        </div>
      </div>

      <div ng-hide="$ctrl.resetComplete" class="password-requirements">
        Passwords must be between 12-30 characters long,<br/>
        and contain at least one uppercase letter and one number.
      </div>

      <span id="set-new-password-error-message"
          class="pull-left reset-password-error error-message"
          ng-bind="$ctrl.error">
      </span>

      <button id="set-new-password-button"
          ng-hide="$ctrl.resetComplete"
          ng-disabled="$ctrl.newPasswordForm.$invalid"
          class="pull-right reset-password-btn button"
          type="submit">
        Reset Password
      </button>

      <div style="clear:both"></div>
    </form>
  </div>
</div>
