@import '../../styles/shared.less';


.reset-password-page {
  height: 100%;
  width: 100%;
  background-color: @brand-primary-color;
}

.reset-password-container {
  height: 500px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;

  .netapp-logo {
    height: 60px;
    margin-bottom: 60px;
  }
}

.reset-password-form {
  border-radius: 10px;
  width: 450px;
  margin: auto;
  background-color: @page-bg-color;
  padding: 30px;
  .box-shadow(0 -5px 0 @brand-accent-color);

  .reset-password-label {
    font-size: 25px;
    margin-bottom: 10px;
    color: @text-primary-color;
    text-align: left;
  }

  .reset-password-note {
    text-align: left;
    font-size: 15px;
    margin-bottom: 15px;
    color: @text-secondary-color;
  }

  a {
    display:block;
    text-align: center;
    font-size: 16px;
    color: @link-color;
  }

  input {
    margin-bottom: 5px;
  }

  .validation-help {
    font-size: 13px;
    text-align: left;
    color: @text-error-color;
  }

  .error-message {
    color: @text-error-color;
    font-style: italic;
  }

  .password-requirements {
    font-size: 12px;
    color: @text-secondary-color;
    margin-bottom: 20px;
  }

  .reset-password-btn {
    border-radius: 4px;
    background-color: @button-color;
    border: none;
    height: 35px;
    width: 130px;
    color: @basic-white;
    padding: 0 15px;
  }

  .reset-password-btn:disabled {
    opacity:.5;
  }

}

