@import '../../../../styles/shared.less';

#block-capacity {
  @media (min-width: 768px) {
    .info-box {
      width: 100%;
      float: left
    }
  }
  @media (min-width: 992px) {
    .info-box {
      width: 20%;
      float: left
    }
  }
  @media (min-width: 1200px) {
    .info-box {
      width: 20%;
      float: left
    }
  }
}