@import '../../../../styles/shared.less';

.capacity-licensing-details-page {
  height: 100%;
  padding: 0;
  .flex-block();
  .flex-direction(column);

  .info-bar {
    margin: 0 0 15px 0;
    padding: 0;

    .info-box {
      height: 130px;

      .title {
        margin: 10px 0;
        font-size: 16px;
        white-space: nowrap;
      }

      .value {
        margin: auto 0;
        padding: 0 15px;
        font-size: 30px;
        font-weight: normal;
        color: @text-primary-color;
        max-width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

  }

  .sf-table-widget {
    background: none;
    box-shadow: none;
    
    &:last-of-type {
      margin-top: 10px;
    }

    .sf-table-control-bar {
      position: relative;

      .sf-table-controls-left {
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px;
        padding: 0; 
        margin: 0;
      }

      .sf-table-controls-right {
        padding-right: 0px;
      }
    }
  }
}
